<div>
  <div *ngIf="!this.purchaseStarted; else verifying">
    <button
      mat-button
      (click)="this.userService.user ? buyButton() : this.loginRequired(content)"
      [ngClass]="btnLg ? 'btn-lg' : ''"
      class="border"
    >
      Buy
    </button>
  </div>
</div>

<ng-template #verifying>
  <button mat-button style="width: 70px;" class="border" disabled>
    <fa-icon [icon]="faSpinner" animation="pulse"></fa-icon>
  </button>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Before you purchase...</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Before we can grant course access, we need to know for which account. Please sign-up and log-in before continuing.</p>
  </div>
  <div class="modal-footer">
    <a href="/user/login">
      <button type="button" class="btn btn-success mx-2">Login</button>
    </a>
    <a href="/user/register">
      <button type="button" class="btn btn-success">Register</button>
    </a>
  </div>
</ng-template>
