<div id="fullMainContent">

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="container my-3 align-middle" @fadeInOut>

          <div
            class="row d-flex justify-content-center my-auto"
            *ngIf="this.publisherInfo$ | async as publisher"
            [appThemeSetNew]="publisher"
            @fadeInOut
          >
            <div class="col-auto py-3 my-auto">
              <!-- This should be a block, with HTML separated out like e.g. the Contact page's -->
              <img [src]="publisher.theme.logo" alt="Cultivate learning" style="max-height: 6rem;" class="mr-4 img-fluid">
            </div>
            <div class="col-auto py-3 my-auto">
              <div class="lead">{{ publisher.name }} course directory</div>

              <div class="text-dark mt-2">
                Course instructor and support is
                  <a [href]="'mailto:' + publisher.contact_email">
                    {{ publisher.contact_fname }} {{ publisher.contact_lname }}
                  </a>
              </div>
              <div class="text-dark">
                On the web at
                <a [href]="publisher.website" target="_blank">
                  {{ publisher.website | slice: publisher.website.indexOf('//') + 2 }}
                </a>
              </div>
            </div>
          </div>
        </div>

        <hr class="mb-5">

      </div>
    </div>

    <div
      class="row d-flex justify-content-center"
      *ngIf="this.publisherCourses$ | async as publisherCourses"
      @fadeInOut
    >
      <div *ngFor="let course of publisherCourses, let i = index, let l = last" class="col-auto mb-3 align-top">
        <app-catalogue-card [course]="course" [publisherInfo]="course.publisher"></app-catalogue-card>
      </div>
    </div>

  </div>
</div>

