<div *ngIf="this.publisherCourses$ | async as publisherCourses" id="fullMainContent" @fadeInOut>
  <div
    *ngIf="this.publisherInfo$ | async as publisherInfo"
    [appThemeSet]="publisherInfo.settings.theme"
    class="text-center"
    >
    <div class="mb-3">
      <h1 class="common-heading mb-2">{{ publisherInfo.name }} courses</h1>
      <small class="text-dark text-uppercase d-block"><a href="{{publisherInfo.website}}" target="_blank">{{ publisherInfo.website }}</a></small>
      <small class="text-dark text-uppercase d-block">{{ publisherCourses.length < 1 ? 'No Public' : publisherCourses.length }} Courses</small>
    </div>

    <div *ngFor="let course of publisherCourses, let i = index, let l = last" class="d-inline-block">
      <app-catalogue-card [course]="course"></app-catalogue-card>
    </div>

  </div>
</div>
