<div
  *ngIf="this.courseService.courseInfo$ | async as course; else loading"
  class="container-fluid navbar-shift pt-3"
  @fadeInOut
  >

  <div class="card">
    <img class="card-img-top"
      src="publisher-files/{{course.publisher.id}}/courses/{{course.id}}/images/{{course.cover}}"
      [alt]="course.cover_alt"
    >
    <div class="card-body">
      <h3 class="card-title common-heading text-center" [innerHtml]="course.title"></h3>
      <div class="card-text">

        <div class="container">
          <div class="row">
            <div class="col-12 col-md-10 col-xl-8 mx-auto text-center">
              <p [innerHtml]="course.short_desc" class="lead"></p>
              <div *ngIf="course.audience">
                <h4 class="card-title common-heading text-center pt-5" [innerHtml]="'Audience'"></h4>
                <p class="lead" [innerHtml]="course.audience"></p>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="row justify-content-center my-4">

            <div class="col-12 col-md-6 col-lg-4 my-2">
              <div class="card border-secondary">
                <div class="card-body text-dark">
                  <div class="d-flex">
                    <div><img [src]="'assets/tea.svg'" alt="Pencil cup icon" class="icon-set pr-2"></div>
                    <div class="flex-grow-1 my-auto text-center">
                      <div class="spec-card-title">Number of activities</div>
                      <div class="lead">{{course.total_activities}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card border-secondary">
              <div class="card-body text-dark">
                <div class="d-flex">
                  <div><img src="assets/stopwatch.svg" alt="Stopwatch graphic icon" class="icon-set"></div>
                  <div class="flex-grow-1 my-auto text-center">
                    <div class="spec-card-title">Estimated time required</div>
                    <div class="lead">{{course.completion_time | number:'1.0-0'}} hrs.</div>
                  </div>
                </div>
              </div>
            </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 my-2">
            <div class="card border-secondary">
              <div class="card-body text-dark">
                <div class="d-flex">
                  <div>
                    <img
                      class="icon-set" alt="Wrong / right option icon"
                      [src]="(course.eval_type === 'Online') ? 'assets/feedback.svg' : 'assets/rating.svg'"
                    >
                  </div>
                  <div class="flex-grow-1 my-auto text-center">
                    <div class="spec-card-title">Evaluation type</div>
                    <div class="lead">{{course.eval_type}}</div>
                  </div>
                </div>
              </div>
            </div>
            </div>

          </div>
        </div>

        <div class="container">
          <div class="row my-5" *ngIf="course.long_desc">
            <div class="col-12 col-lg-10 mx-auto text-center">
              <h4 class="card-title common-heading text-center" [innerHtml]="'About'"></h4>
              <div class="text-secondary" [innerHtml]="course.long_desc"></div>
            </div>
          </div>
          <div class="row my-5" *ngIf="course.objective">
            <div class="col-12 col-lg-10 mx-auto text-center">
              <h4 class="common-heading text-center" [innerHtml]="'Objectives'"></h4>
              <div class="text-secondary" [innerHtml]="course.objective"></div>
            </div>
          </div>

          <div class="row mt-5">
            <div class="col-12 col-lg-10 mx-auto text-center">
              <div [appThemeSetNew]="course.publisher"></div>
              <div>
                <a [href]="course.publisher.website" target="_blank">
                  <img
                    class="mb-3"
                    width="250"
                    [src]="this.themeService.logo"
                    [alt]=""
                  >
                  <p class="text-secondary" style="line-height: 1.1">
                    <span class="text-uppercase">{{course.publisher.name}}</span><br>
                    <span [innerHtml]="course.publisher.website.substr(8)"></span>
                  </p>
                </a>
                <p>
                  <span class="common-heading font-weight-bold" *ngIf="course.publisher.contact_fname || course.publisher.contact_email || course.publisher.contact_phone">
                    <u>Instructor or Support & Help</u>
                  </span><br>
                  <span class="font-weight-bold text-uppercase">{{course.publisher.contact_fname}} {{course.publisher.contact_lname}}</span><br>
                  <span *ngIf="course.publisher.contact_email">
                    <a [href]="'mailto:' + course.publisher.contact_email" target="_blank">{{course.publisher.contact_email}}</a>
                  </span><br>
                  <span *ngIf="course.publisher.contact_phone">{{course.publisher.contact_phone}}</span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="text-center my-3">
    <small class="text-uppercase text-secondary">Course #{{course.id}}</small>
  </div>

</div>


<ng-template #loading>
  <div style="margin-top:20rem;">
    <div class="mt-5">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </div>
</ng-template>
