**/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
config.json
.env
.env.backup
.phpunit.result.cache
.vagrant/
docker-compose.override.yml
Homestead.json
Homestead.yaml
# npm-debug.log
# yarn-error.log

# Ignore compiled version of WNGX and related items
# /public/webcourses
/resources/views/angular.blade.php
/public/publisher-files

# Copied from resources/webcourses:
# Angular's own .ignore

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
.vagrant
.angular
/.sass-cache
/connect.lock
/coverage
*.log
# /libpeerconnection.log
# npm-debug.log
# yarn-error.log
# testem.log
/typings

# System Files
.DS_Store
Thumbs.db
