<div id="fullMainContent" class="container my-5" @fadeInOut>

  <app-header [title]="'course access codes'"></app-header>

  <div *ngIf="discountCodes$ | async as discountCodes; else loading" @fadeInOut>

    <div *ngIf="discountCodes.length === 0" class="container lead text-center my-5">
      You don't have any courses with access codes.
    </div>

    <div *ngFor="let courseDiscountCodes of discountCodes">

      <div class="card my-4">
        <div class="row no-gutters justify-content-between">
          <div class="col-lg-3">
            <div class="card">
              <img
                class="card-img-top"
                style="object-fit: cover; height: 11rem;"
                [src]="this.coursesService.coverImage(courseDiscountCodes.course)"
                alt="{{courseDiscountCodes.course.cover_alt}}"
              >
            </div>
          </div>
          <div class="col-lg-6 p-3">
            <div class="h4">{{ courseDiscountCodes.course.title }}</div>
            <div>{{ courseDiscountCodes.course.created_at | date:'longDate' }}</div>
            <div class="text-dark">ID: {{ courseDiscountCodes.course.id }}</div>
          </div>
          <div class="col-lg-3 p-3 text-lg-right">
            <button mat-button color="primary" class="border" (click)="addAccessCode(courseDiscountCodes.course.id)">
              Add code
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="courseDiscountCodes.coupons.length === 0; else showCodes" class="container lead text-center my-5">
        This course does not have any access codes.
      </div>

      <ng-template #showCodes>
        <table class="table table-bordered table-hover table-striped">
          <thead>
            <tr>
              <th class="text-uppercase">
                code
                <span class="badge badge-pill badge-success font-weight-light text-capitalize mt-1 float-right">Available</span>
              </th>
              <th class="text-uppercase">label</th>
              <th class="text-right text-uppercase">students</th>
              <th class="text-right text-uppercase d-none d-md-table-cell">seats</th>
              <th class="text-center text-uppercase d-none d-md-table-cell">last used</th>
              <th class="text-center text-uppercase d-none d-xl-table-cell">created</th>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let discountCode of courseDiscountCodes.coupons, let i = index, let l = last"
            >
              <td
                [cbContent]="'https://www.cultivatelearning.ca/user/register?code=' + discountCode.code"
                [title]="'Copy https://www.cultivatelearning.ca/user/register?code=' + discountCode.code"
                (click)="regLinkCopied('Registration link copied.')"
                class="handy text-primary"
                ngxClipboard
              >
                <!-- (cbOnSuccess)="tooltip.show" -->
                <!--
                  cbOnSuccess is broken in v16 of ngx-clipboard:
                  https://github.com/maxisam/ngx-clipboard/issues/310
                -->

                <div>
                  <span>{{ discountCode.code }}</span>
                  <i class="fa-solid fa-copy mx-2 text-secondary"></i>
                  <span
                    class="badge badge-pill font-weight-light mt-1 float-right"
                    [ngClass]="pillClass(discountCode)"
                    [innerHtml]="(discountCode.uses_max === 0) ? '&#8734;' : discountCode.uses_max - discountCode.uses"
                  >
                  </span>
                </div>
              </td>
              <td>{{ discountCode.label }}</td>
              <td
                [routerLink]="[discountCode.id, 'users']"
                title="Report"
                class="text-right handy text-primary"
              >
                {{ discountCode.uses }}
                <span class="d-inline d-md-none text-dark">/
                  <span [innerHTML]="(discountCode.uses_max === 0) ? '&#8734;' : discountCode.uses_max"></span>
                </span>
              </td>
              <td class="text-right d-none d-md-table-cell" [innerHTML]="discountCode.uses_max === 0 ? '&#8734;' : discountCode.uses_max"></td>
              <td class="text-center d-none d-md-table-cell">{{ discountCode.updated_at | date:'mediumDate' }}</td>
              <td class="text-center d-none d-xl-table-cell">{{ discountCode.created_at | date:'mediumDate' }}</td>
            </tr>
          </tbody>
        </table>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>
