.font-weight-normal {
  line-height: 1.8;
}

.flip-contrast-row {
  color: #fff;
  background-color: #1d1d1d;
  opacity: .85;
}

.flip-contrast-col {
  border-radius: 10px;
  background: rgba(240, 183, 42, 0.64);
}

.read-me {
  background: rgba(255, 212, 0, 0.7);
  border-radius: 12px;
  color: #333;
  padding: 2px 7px;
}

.light-dropshadow {
  text-shadow: 0px 0px 4px #fff;
}
