<div id="fullMainContent">

  <div class="container-fluid">
    <div class="row my-3">
      <div class="col-12 col-lg-7">
        <div class="px-0 px-sm-3 px-md-5">
          <h4 class="mt-3 text-dark">Our Cultivate Learning Management System provides a secure and user-friendly experience for learners and publishers.</h4>
          <p class="mt-3" style="font-size: 125%;">We provide everything necessary to create, deliver and track courses accessible on all devices. Our team can help with consulting and design support for the development of your courses.</p>
          <p class="mt-3 mb-5" style="font-size: 125%;">
            To get started on your next eLearning project
            <a [href]="'mailto:teaching@cultivatelearning.ca'" target="_blank">
              <button class="btn btn-success btn-lg mx-1 my-2 my-sm-0 mx-md-3">Contact us</button>
            </a>
          </p>
        </div>
      </div>
      <div class="col-0 col-lg-5">
        <!-- <h2 class="common-heading">Latest Courses</h2> -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto p-3 text-center">
        <h5 class="read-me">We can help make your course go from an idea to a reality.</h5>
        <h5 class="read-me d-inline-block">What stage are you in?</h5>
      </div>
    </div>
  </div>

  <div class="container mb-5">
    <div class="row justify-content-center px-2">
      <div class="col text-center">
        <h1 class="light-dropshadow">1</h1>
      </div>
      <div class="col text-center">
        <h1 class="light-dropshadow">2</h1>
      </div>
      <div class="col text-center">
        <h1 class="light-dropshadow">3</h1>
      </div>
    </div>
    <div class="row justify-content-center px-2">
      <div class="col text-center flip-contrast-col p-2 ">
        I have an idea.
      </div>
      <div class="col text-center flip-contrast-col p-2 mx-2">
        I have the course content, but it’s not designed for an online format.
      </div>
      <div class="col text-center flip-contrast-col p-2 ">
        I have an online course, and I’d like to have it moved to Cultivate.
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row px-1 px-sm-3 px-md-5 py-4 py-md-5 flip-contrast-row">
      <div class="col-12 col-lg-6 pr-lg-5 my-auto text-center">
        <h5>Building your course together with our eLearning specialists</h5>
        <p class="mt-3">Each project presents its own unique set of learners and circumstances for moving content online. Our approach is to look at each project to identify the design and delivery techniques that are most appropriate for the context, the content, the needs and the target audience.</p>
      </div>
      <div class="col-12 col-lg-1 pr-lg-5 py-5 text-center my-auto">
        <img [src]="this.configService.assetsImage('cl-logo.svg')" alt="CL Logo Icon" style="width: 45px; height: 45px;">
      </div>
      <div class="col-12 col-lg-5">
        <h5 class="text-center mb-lg-2">Our choice of instructional design techniques are based on many questions such as:</h5>
        <ul class="mt-3">
          <li>How can we make the content more engaging?</li>
          <li>How can we give the learners the opportunity to apply their learning?</li>
          <li>How can we help the learners transfer their learning to the workplace?</li>
          <li>How do we need to evaluate learners?</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container justify-container-center">
    <div class="row justify-content-center mt-5">
      <div class="col text-center">
        <h5 class="read-me d-inline-block">Webcourses-NGX v4 Platform Developed in Partnership</h5>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col text-center">
        <a [href]="'https://www.eclectic.ca'" target="_blank">
          <img [src]="this.configService.assetsImage('eclectic.png')" alt="Eclectic Communications Logo" class="p-3 p-md-5">
        </a>
        <a [href]="'https://www.bytech.ca'" target="_blank">
          <img [src]="this.configService.assetsImage('bytech.png')" alt="Bytech Enterprises" class="p-3 p-md-5">
        </a>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
