<div class="container-fluid" id="activities-global">
  <div class="row">
    <div class="col-lg-5 px-0 sticky-top d-print-none" style="background-color: transparent;">

      <wngx-student-menu *ngIf="!this.webcourseService.builderMode"></wngx-student-menu>

      <!-- Roll-up button for hiding ngbNavOutlet. Displayed when sidebar is hidden due to lack of space. -->
      <div class="d-lg-none">
        <div class="border-top border-warning text-center">
          <fa-icon
            [icon]="this.activitiesService.showSideMenu ? faChevronUp : faChevronDown"
            (click)="this.activitiesService.showSideMenu = !this.activitiesService.showSideMenu"
            class="handy text-warning"
            size="sm"
          ></fa-icon>
        </div>
      </div>

    </div>

    <div class="col-lg-7 bg-light" id="workareaContent">
      <app-workarea></app-workarea>
    </div>

  </div>
</div>
