<div class="card m-1 mb-3" style="width: 22rem;">

  <img [routerLink]="['/catalogue', 'course', userCourse.course.id]"
    class="card-img-top handy" style="min-height: 10rem"
    [ngStyle]="{'pointer-events': userCourse.course.private ? 'none' : null}"
    src="/publisher-files/{{userCourse.course.publisher.id}}/courses/{{userCourse.course.id}}/images/{{userCourse.course.cover}}"
    alt="{{userCourse.course.cover_alt}}"
    >
  <div class="progress" style="height: 6px">
    <div class="progress-bar progress-bar-striped"
      role="progressbar"
      [style.width.%]="(100 / userCourse.ta * liveTac(userCourse))"
      [attr.aria-valuenow]="userCourse.tac"
      aria-valuemin="0"
      [attr.aria-valuemax]="userCourse.ta">
    </div>
  </div>
  <small class="text-secondary text-uppercase mt-1">
    {{
      liveTac(userCourse) / userCourse.ta * 100 | number:'1.0-0'
    }}
    % Completed
  </small>
  <div class="card-body text-center">

    <a [routerLink]="['/catalogue', 'course', userCourse.course.id]" [ngStyle]="{'pointer-events': userCourse.course.private ? 'none' : null}">
      <h5 class="card-title" style="height:3.5rem;">{{userCourse.course.title}}</h5>
    </a>

    <p style="max-height:125px; min-height: 50px; overflow-y:auto; line-height:.9">
      <small class="text-secondary" [innerHtml]="userCourse.course.short_desc | safehtml: 'html'"></small>
    </p>

    <button
      class="btn btn-success text-center mt-1 mt-md-3 handy"
      (click)="goToActivity(
        userCourse.pid,
        liveTac(userCourse) == userCourse.ta || liveTac(userCourse) == 0 ? true : false
      )"
      >
      <span *ngIf="liveTac(userCourse) == 0">Start</span>
      <span *ngIf="liveTac(userCourse) > 0 && liveTac(userCourse) < userCourse.ta">Resume</span>
      <span *ngIf="liveTac(userCourse) == userCourse.ta">Review</span>
    </button>

  </div>
  <div class="text-right mr-2">
    <small class="text-secondary">Course #{{userCourse.course.id}}</small>
  </div>
</div>
