<!-- <ng-template #loading>
  <fa-icon [icon]="faSpinner" [spin]="true" [pulse]="true" @fadeInOut></fa-icon>
</ng-template>

<div *ngIf="this.customActivitiesService">
  <p>Your before and after results for the pre and after course assessment are below.</p>
  <table class="table table-striped table-sm" style="max-width: 40rem;">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">Correct</th>
        <th scope="col" class="text-center">Wrong</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Before</th>
        <td class="text-center text-success">
          <span *ngIf="this.customActivitiesService.count; else loading" @fadeInOut>
            {{this.customActivitiesService.count.before.correct}} / {{this.customActivitiesService.count.before.total}}
          </span>
        </td>
        <td class="text-center text-danger">
          <span *ngIf="this.customActivitiesService.count; else loading" @fadeInOut>
            {{this.customActivitiesService.count.before.wrong}}
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">After</th>
        <td class="text-center text-success">
          <span *ngIf="this.customActivitiesService.count; else loading" @fadeInOut>
            {{this.customActivitiesService.count.after.correct}} / {{this.customActivitiesService.count.after.total}}
          </span>
        </td>
        <td class="text-center text-danger">
          <span *ngIf="this.customActivitiesService.count; else loading" @fadeInOut>
            {{this.customActivitiesService.count.after.wrong}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

-->
