<div id="fullMainContent" class="container-fluid" @fadeInOut>
  <div class="row justify-content-center min-vh-100">
    <div class="col">
      <div class="d-flex flex-column h-100">
        <div class="row justify-content-center">
          <div>
            <div class="container my-5">
              <div class="row">
                <div class="col-12 col-lg-5 p-3 text-center">
                  <img src="https://publish.cultivatelearning.ca/sites/default/files/cultivate_logo_full_sans_ca.png" class="mb-lg-5 img-fluid">
                </div>

                <div class="col-12 col-lg-7 p-3 my-auto">
                  <div class="ml-0 ml-lg-5 mt-5 mt-lg-0 text-center">
                    <h3 class="mb-4 mt-2 text-uppercase">Publish with us</h3>

                    <p class="lead py-3">You have knowledge and skills that can help others. What better way to pass those
                    along to others than by creating an online course? Not only will you be able to share
                    your expertise, but you will also have an additional way to earn money.</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-lg-5 p-3">
                  <ul>
                    <li>simplify the delivery and access of your learning programs</li>
                    <li>allow you to reach a broader audience</li>
                    <li>improve the learning experience</li>
                    <li>save you time and money to deliver training</li>
                    <li>increase the ease of offering courses online</li>
                    <li>decrease the administrative and development tasks required for course delivery</li>
                    <li>increase consistency in training delivery</li>
                    <li>provide the ability to offer training anytime and anywhere</li>
                  </ul>
                </div>

                <div class="col-12 col-lg-7 p-3">
                  <div class="ml-0 ml-lg-5 mt-5 mt-lg-0 ">
                    <p>We can help make your course go from an idea to a reality. Are you in the conceptual
                    stage? Do you have course content, but it’s not yet designed for an online format? Or
                    do you have an online course that you’d like to move to Cultivate? With our eLearning
                    specialists, we can help build your course no matter what stage you are in. Our eLearning
                    specialists provide the support you need to get your courses online by providing the
                    needed technical and design knowledge.</p>

                    <p>Each project presents its own unique set of learners and circumstances for moving content
                    online. Our approach is to look at each project to identify the design and delivery techniques
                    that are most appropriate for the needs of the organization and target audience.</p>

                    <p>Cultivate Learning can help you create easy and hassle-free online courses for your clients or
                    employees. We offer the support and resources to help you build online courses that effectively
                    transfer knowledge and build skills.</p>
                  </div>
                </div>
              </div>

              <div class="row mt-lg-4">
                <div class="col-12 col-lg-4 text-center mt-2 mb-5">
                  <img src="https://www.cultivatelearning.ca/webcourses/publisher-files/default/images/public.png" class="img-fluid my-3 w-50">
                  <h4>Public access</h4>
                  <ul class="list-unstyled">
                    <li class="mt-3 lead">Courses are offered publicly at Cultivate Learning</li>
                    <li class="mt-3 lead">Group registration access</li>
                    <li class="mt-3 lead">Individual purchase access</li>
                  </ul>
                </div>
                <div class="col-12 col-lg-4 text-center mt-2 mb-5">
                  <img src="https://www.cultivatelearning.ca/webcourses/publisher-files/default/images/private.png" class="img-fluid my-3 w-50">
                  <h4>Private access</h4>
                  <ul class="list-unstyled">
                    <li class="mt-3 lead">Courses are offered privately at Cultivate Learning, on your website, or Intranet</li>
                    <li class="mt-3 lead">Group registration access</li>
                  </ul>
                </div>
                <div class="col-12 col-lg-4 text-center mt-2 mb-5">
                  <img src="https://www.cultivatelearning.ca/webcourses/publisher-files/default/images/all-access.png" class="img-fluid my-3 w-50">
                  <h4>All access</h4>
                  <ul class="list-unstyled">
                    <li class="mt-3 lead">Courses are offered publicaly at Cultivate Learning, and on your website or Intranet</li>
                    <li class="mt-3 lead">All Public and Private access options available</li>
                  </ul>
                </div>
              </div>

              <div class="row mt-lg-4">
                <div class="col display-4 text-center">
                  <a [routerLink]="['/contact']">
                    Contact us to get started on your next online course project<br>
                    <button class="btn btn-lg btn-success mt-5">Contact</button>
                  </a>
                </div>
              </div>

              <div class="row" style="margin-top: 5rem;">
                <div class="col text-center">
                  <small class="text-secondary">
                    Icons created by
                    <a href="https://www.flaticon.com/free-icons/unlimited" title="unlimited icons">zafdesign</a>,
                    <a href="https://www.flaticon.com/free-icons/database" title="database icons">vectorsmarket15</a> and
                    <a href="https://www.flaticon.com/free-icons/park-guell" title="park güell icons">Freepik</a>
                    at <a href="https://www.flaticon.com">FlatIcon</a>
                  </small>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
