<div id="fullMainContent" class="container-fluid" @fadeInOut>
  <div class="row justify-content-center min-vh-100">
    <div class="col">
      <div class="d-flex flex-column h-100">
        <div class="row justify-content-center">
          <div class="container my-5">
            <div class="row">
              <div class="col-12 col-lg-4 p-3 text-center">
                <img
                  src="https://www.cultivatelearning.ca/webcourses/publisher-files/default/images/squarees.png"
                  class="img-fluid mb-5 mt-3"
                  alt=""
                >
                <div class="lead font-weight-bold">Our pricing is quite simple.</div>
                <small class="text-secondary text-uppercase">One time charge per participant</small>
              </div>

              <div class="col-12 col-lg-8 p-3">
                <div class="ml-0 ml-lg-5 mt-5 mt-lg-0 ">

                  <div class="container">

                    <div class="row mb-2">
                      <div class="col-12">
                        <div class="text-dark font-weight-light" style="font-size: 200%;">
                          Become a publisher before June 16th
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6 lead font-weight-bold">Courses $50 and under</div>
                      <div class="col-6 lead font-weight-bold">Courses over $50</div>
                    </div>

                    <div class="row">
                      <div class="col-6 lead">$5 / participant</div>
                      <div class="col-6 lead">15% of course price / participant</div>
                    </div>

                    <div class="row mt-5 mb-2">
                      <div class="col-12">
                        <div class="text-dark font-weight-light" style="font-size: 200%;">
                          For publishers joining after June 15th
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6 lead font-weight-bold">Courses $50 and under</div>
                      <div class="col-6 lead font-weight-bold">Courses over $50</div>
                    </div>

                    <div class="row mb-5">
                      <div class="col-6 lead">$7 / participant</div>
                      <div class="col-6 lead">15% of course price / participant</div>
                    </div>

                    <div class="row mt-5 mb-2">
                      <div class="col-12">
                        <div class="text-dark font-weight-light" style="font-size: 200%;">
                          Customised theme
                        </div>
                        <div class="lead font-weight-bold">$390</div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <div class="row mt-lg-4">
              <div class="col display-4 text-center">
                <a [routerLink]="['/contact']">
                  Contact us to get started on your next online course project<br>
                  <button class="btn btn-lg btn-success mt-5">Contact</button>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
