<div id="fullMainContent" class="container mt-5 pt-5" @fadeInOut>

  <div class="row">
    <div class="col h2">Welcome, {{ publisher.contact_fname }}!</div>
  </div>
  <div class="row mt-4">
    <div class="col-2 fw-bolder">Publisher:</div>
    <div class="col-auto">{{ publisher.name }}</div>
  </div>
  <div class="row">
    <div class="col-2 fw-bolder">Website:</div>
    <div class="col-auto">{{ publisher.website }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-2 fw-bolder">Contact:</div>
    <div class="col-auto">{{ publisher.contact_fname }} {{ publisher.contact_lname }}</div>
  </div>
  <div class="row">
    <div class="col-2 fw-bolder">Email:</div>
    <div class="col-auto">{{ publisher.contact_email }}</div>
  </div>
  <div class="row">
    <div class="col-2 fw-bolder">Phone:</div>
    <div class="col-auto">{{ publisher.contact_phone }}</div>
  </div>

  <div class="row mt-3">
    <div class="col-2 fw-bolder">Country:</div>
    <div class="col-auto">{{ publisher.country }}</div>
  </div>
  <div class="row">
    <div class="col-2 fw-bolder">City:</div>
    <div class="col-auto">{{ publisher.city }}</div>
  </div>
  <div class="row">
    <div class="col-2 fw-bolder">Prov/State:</div>
    <div class="col-auto">{{ publisher.province }}</div>
  </div>

  <div class="row mt-3">
    <div class="col">Publisher since {{ publisher.created_at }}</div>
  </div>

</div>
