.uppercase {
  text-transform: capitalize;
}

.click_activity_item {
  border: 1px solid #aed0ea;
  background: #d7ebf9;
  color: #2779aa;
  padding:6px 12px 6px 12px;
  border-radius: 4px;
  margin-top:6px;
  cursor: pointer;
}

.click_activity_big li {
  width:100%;
  padding:1em;
}

.highlight-on {
  background-color: #F6FF8B;
}

.highlight {
  background-color: #F6FF8B;
  padding:0 .2em 0 .2em;
  font-size: inherit;
}

.media_enlarge {
  cursor: pointer;
}

.yes_width_column {
  display: inline-block;
  width: 50px;
  text-align: center;
}

.qtr_width_column {
  display: inline-block;
  width: 23%;
  font-weight: bold;
}

.half_width_column {
  /* display: inline-block; */
  width: 45%;
  float: left;
}

.threeqtr_width_column {
  display: inline-block;
  width: 67%;
}

.deep_group {
  display:block;
}

.doc_style {
  padding:8%;
  background:rgba(255,255,255,0.5);
  border:1px solid #cdcdfd;
  border-radius: 1.5%;
  margin-top:25px;
  margin-bottom:25px;
}

.textarea_activity {
  height:80px !important;
  margin-left: -1.6em;
  width: 95%;
  max-width: 600px;
}

.text_activity {
  margin-left: -1.6em;
  width: 50%;
  max-width: 300px;
}

.dropdown_activity {
  height:initial;
  padding:2px 2px;
  margin-top: -.7%;
}

.dnd_assess_click {
  border: 1px solid #818181 !important;
  background: #ffef8f !important;
}

.dnd_correct_click {
  background: #D4FF9E !important;
}

.dnd_wrong_click {
  background: #ffbbbb !important;
}

.dnd_missed_click {
  background: #cdcdcd !important;
}

.correct {
  color: #81CA25 !important;
  font-weight: bold;
}

.wrong {
  color: #F80D0D !important;
  font-weight: bold;
}

.missed {
  color: #cdcdcd !important;
  font-weight: bold;
}

td {
  vertical-align: top;
  padding-bottom: 1.5em;
}

/* Reduced spacing for activity 1277 */
#table1277 td {
  padding-bottom: 0;
}

.ui-state-default {
  font-weight: normal;
}

.tipped_twocolumn {
  display:block;
  position: relative;
  max-height:225px;
  max-width:625px;
  width:625px;
}

.tipped_column {
  float:left;
  max-width:300px;
  color: #e7e7e7;
}

.tipped_column {
  font-family:"Roboto Condensed","Trebuchet MS",Arial, Helvetica, sans-serif;
  color: #fff;
}

.tipped_column h4 {
  font-family:"Roboto Condensed","Trebuchet MS",Arial, Helvetica, sans-serif !important;
}

.dnd_assess, .dnd_tray { list-style-type: none; margin: 0; padding: 0; }
.dnd_assess li, .dnd_tray li { margin: 3px 3px 3px 0; padding: 3px; float: left; font-size: 1em; text-align: center; border-radius: 4px; cursor:pointer }

.ui-state-disabled-custom {
  opacity:1;
}

.in_course_quote {
  font-family: "Times New Roman", "Times Roman" , "Times";
  font-size: 14pt;
  font-style: italic;
  line-height: 1.5;
}

.dnd_bin {
  display: inline-block;
  position: relative;
  background-color: #FFFFFF;
  padding: 1em;
  border-radius: 7px;
  border: dotted 1px #93A2D3;
  margin-left: -1.5em;
}

.clear_div {
  clear:both;
}

.heyya:after {
  clear:both;
}

.assess_text2 {
  font-size:1em;
  margin-bottom:1.2em;
  color:#829d25 !important;
  /*width:430px;  prevents some alignment issues with short assessment texts */
  width: 90%;
  display: inline-block;
  font-weight: normal;
}

.ttText {
  font-size: 10pt;
  color: #fff;
}

.grey-matter {
  background-color: #3D3D3D;
}

.index_ch_title {
  text-transform: uppercase;
  font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #363636;
  font-size: 12pt;
}

.active_button {
  color:#FF930A !important;
}

.chapter_bin {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: #aaa;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
  clear: both;
}

.small-font {
  color: #B5B5B5;
  font-size: 80%;
}

.amazing_zero {
  border:0 !important;
  margin:0 !important;
  padding:0 !important;
}

.small_notice {
  margin-top:30px;
  font-size: 85%;
  margin-bottom:25px;
}

.lead_space5:before {
  content: " ";
  height:50px;
  display: block;
}

.lead_space4:before {
  content: " ";
  height:20px;
  display: block;
}

.lead_space3:before {
  content: " ";
  height:30px;
  display: block;
}

.lead_space2:before {
  content: " ";
  height:20px;
  display: block;
}

.lead_space1:before {
  content: " ";
  height:10px;
  display: block;
}

.follow_space5:after {
  content: " ";
  height:50px;
  display: block;
}

.follow_space4:after {
  content: " ";
  height:40px;
  display: block;
}

.follow_space3:after {
  content: " ";
  height:30px;
  display: block;
}

.follow_space2:after {
  content: " ";
  height:20px;
  display: block;
}

.follow_space1:after {
  content: " ";
  height:12px;
  display: block;
}

.section_heading {
  margin-bottom: 25px;
}

.answer_row {
  margin:5px;
  position: relative;
  display: table;
}


.thinborder td {
  padding:.2em .7em;
  border:1px solid #cdcdcd;
}


.handy {
  cursor: pointer !important;
}

/* JQuery UI click item override */

.dnd_assess .ui-state-default, .dnd_assess .ui-widget-content .ui-state-default, .dnd_assess .ui-widget-header .ui-state-default {
  background:transparent;
}


/* Vertical centre helper */
.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}


/* /// HTML TAGS ////////////////////////////////////////////////////// */
img {
  border:0;
}



/* /// PSEUDO TAGS //////////////////////////////////////////////////// */

:focus {
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}


.mule:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: 1;
}

#load_area_dom,#settingsBox,#error_bin {
  display:none;
}

/* Without this, DnD doesn't allow dropping items outside their own container. */
/*ul {display:block;overflow:hidden}*/
