<wngx-student-menu></wngx-student-menu>

<!-- Roll-up button for hiding ngbNavOutlet. Displayed when sidebar is hidden due to lack of space. -->
<div
  role="button"
  class="d-lg-none border-top border-warning text-center"
  (click)="this.webcourseService.showSideMenu = !this.webcourseService.showSideMenu"
>
  <div *ngIf="this.webcourseService.showSideMenu; else noSideMenu">
    <i class="fa-sharp fa-solid fa-chevron-up fa-sm text-warning"></i>
  </div>

  <ng-template #noSideMenu>
    <i class="fa-sharp fa-solid fa-chevron-down fa-sm text-warning"></i>
  </ng-template>
</div>
