<div *ngIf="this.userService.user$ | async as user">
  <div *ngIf="!this.purchaseStarted; else verifying">
    <button *ngIf="this.course.pid === null; else showPurchasedBtn"
      (click)="user.email ? buyButton() : this.loginRequired(content)"
      class="btn btn-success"
      [ngClass]="btnLg ? 'btn-lg' : ''"
      >
      <span *ngIf="course.price > 0">${{ course.price / 100 | number:'1.0-2' }} – Buy</span>
      <span *ngIf="course.price === 0" class="mx-3">Enrol</span>
    </button>

    <ng-template #showPurchasedBtn>
      <div class="d-block text-center" style="line-height: 1.2;" [ngClass]="btnLg ? 'btnLg' : ''">
        <small class="text-secondary">
          <span class="text-uppercase text-success font-weight-bold"><u>Enrolled</u></span><br>
          <a routerLink="/user/webcourses">Go to My Webcourses</a>
        </small>
      </div>
    </ng-template>
  </div>
</div>

<ng-template #verifying>
  <button class="btn btn-secondary" style="width: 90px;" disabled>
    <fa-icon [icon]="faSpinner" animation="pulse"></fa-icon>
  </button>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Before you purchase...</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Before we can grant course access, we need to know for which account. Please sign-up and log-in before continuing.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="modal.close('login')">Login or Create Account</button>
  </div>
</ng-template>
