<div id="fullMainContent" class="container-fluid">
  <div class="row justify-content-center min-vh-100">
    <div class="col">
      <div class="d-flex flex-column h-100">
        <div class="row justify-content-center">
          <div>
            <div class="container my-5">
              <div class="row">
                <div class="col">
                  <h3 class="mb-2 mt-4 text-uppercase">Contact</h3>
                </div>
              </div>

              <div class="row">
                <div class="col-12 col-lg-6 p-3">
                  <h5 class="mb-3 text-dark">General inquiries about the cultivatelearning.ca Learning Management System (LMS)</h5>

                  <div class="lead py-2">
                    <fa-icon [icon]="email" class="text-secondary mr-3"></fa-icon>
                    <a href="mailto:learn@eclectic.ca" target="_blank">learn@eclectic.ca</a>
                  </div>

                  <div class="container-fluid">
                    <div class="row">
                      <div class="col col-lg-6 p-0">
                        <h5 class="text-uppercase mt-4 text-dark">
                          <fa-icon [icon]="earthAmericas" class="text-secondary mr-2"></fa-icon>
                          Americas
                        </h5>
                        <div class="lead my-1">
                          +1 (204) 410-2234
                        </div>
                      </div>
                      <div class="col col-lg-6 p-0">
                        <h5 class="text-uppercase mt-4 text-dark">
                          <fa-icon [icon]="earthEurope" class="text-secondary mr-2"></fa-icon>
                          EMEA & World
                        </h5>
                        <div class="lead my-1">
                          +48 502 707 539
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="col-12 col-lg-6 p-3">
                  <div class="ml-0 ml-lg-5 mt-5 mt-lg-0 ">
                    <h5 class="mb-3 text-dark">Inquiries about a specific webcourse hosted with cultivatelearning.ca</h5>

                    <p class="lead py-2">Please contact the corresponding publisher.</p>

                    <p class="text-secondary">
                      Details are available in the Publisher tab inside each course, and on course
                      specific pages, accessible through following the course title link.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center bg-success flex-grow-1" id="anastasia">
          <!-- It's this div that displays the "footer" image -->
          <!-- Image https://www.pexels.com/photo/gray-and-white-wallpaper-1103970/ -->
          <!-- Flex code: https://stackoverflow.com/questions/50262517/bootstrap-4-row-fill-remaining-height -->
        </div>
      </div>
    </div>
  </div>
</div>
