<div id="fullMainContent" class="container">
  <div *ngIf="discountCodeUsers$ | async as discountCodeUsers" @fadeInOut>

    <div class="container">
      <div class="row">
        <div class="col-2 display-1">
          <i class='fa-sharp fa-solid fa-fingerprint text-secondary'></i>
        </div>
        <div class="col-10">
          <div class="h2">{{ discountCodeUsers.course.title }}</div>
          <div>
            <span class="font-weight-bold fw-bold">Code:</span>
            {{ discountCodeUsers.code.label }} ({{ discountCodeUsers.code.code }})
          </div>
          <div>
            <span class="font-weight-bold fw-bold">Seats:</span>
            {{ discountCodeUsers.code.uses }} /
            <span *ngIf="discountCodeUsers.code.uses_max == 0; else noOfUses">&#8734;</span>
            <ng-template #noOfUses>
              {{ discountCodeUsers.code.uses_max }}
            </ng-template>
          </div>
          <div>
            <span class="font-weight-bold fw-bold">Expiry:</span>
            {{ discountCodeUsers.code.expiry | date:'mediumDate' }}
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5 lead">
      <ul class="pagination">
        <li class="page-item"><a role="button" (click)="selectPage(discountCodeUsers.code_uses.current_page - 1)">&laquo;</a></li>
        <li class="px-1">Showing results {{discountCodeUsers.code_uses.from}} to {{discountCodeUsers.code_uses.to}} of {{discountCodeUsers.code_uses.total}}</li>
        <li class="page-item"><a role="button" (click)="selectPage(discountCodeUsers.code_uses.current_page + 1)">&raquo;</a></li>
      </ul>
    </div>

    <table class="table table-bordered table-hover table-striped mt-1">
      <thead>
        <tr>
          <th class="text-uppercase text-center">#</th>
          <th class="text-uppercase">name (id)</th>
          <th class="text text-uppercase">email</th>
          <th class="text text-uppercase">started</th>
          <th class="text text-uppercase">completed</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let codeUse of discountCodeUsers.code_uses.data; let i = index" @fadeInOut>
          <td class="text-center">{{discountCodeUsers.code_uses.from + i}}</td>
          <td [routerLink]="[
            '/admin', 'publisher', 'course', 'user_progress', codeUse.user_progress_id
          ]">
            {{ codeUse.user.first_name }} {{ codeUse.user.last_name }} <small>({{ codeUse.user.id }})</small>
          </td>
          <td>{{ codeUse.user.email }}</td>
          <td>{{ codeUse.created_at | date:'mediumDate' }}</td>
          <td>
            <span [innerHtml]="( codeUse.completed_activities_count / discountCodeUsers.course.total_activities * 100) | number:'1.0-0'"></span>%
          </td>
        </tr>
      </tbody>
    </table>

    <div class="mb-5">
      <ngb-pagination
        [collectionSize]="discountCodeUsers.code_uses.total"
        [(page)]="discountCodeUsers.code_uses.current_page"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="false"
        [boundaryLinks]="true"
        [pageSize]="itemsPerPage"
        (pageChange)="selectPage($event)"
      />
    </div>

  </div>
</div>
