<div id="fullMainContent" class="container">
  <div *ngIf="this.discountCodeUsers" @fadeInOut>

    <div class="container">
      <div class="row">
        <div class="col-2 display-1">
          <i class='fa-sharp fa-solid fa-fingerprint text-secondary'></i>
        </div>
        <div class="col-10">
          <div class="h2">{{ this.discountCodeUsers.course.title }}</div>
          <div>
            <span class="font-weight-bold fw-bold">Code:</span>
            {{ this.discountCodeUsers.code.label }} ({{ this.discountCodeUsers.code.code }})
          </div>
          <div>
            <span class="font-weight-bold fw-bold">Seats:</span>
            {{ this.discountCodeUsers.code.uses }} /
            <span *ngIf="this.discountCodeUsers.code.uses_max == 0; else noOfUses">&#8734;</span>
            <ng-template #noOfUses>
              {{ this.discountCodeUsers.code.uses_max }}
            </ng-template>
          </div>
          <div>
            <span class="font-weight-bold fw-bold">Expiry:</span>
            {{ this.discountCodeUsers.code.expiry | date:'mediumDate' }}
          </div>
        </div>
      </div>
    </div>

    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a role="button" class="page-link" (click)="this.selectPage(this.discountCodeUsers.code_uses.current_page - 1)">&laquo;</a></li>
        <li class="page-item"><a role="button" class="page-link" (click)="this.selectPage(1)">1</a></li>
        <li class="page-item"><a role="button" class="page-link" (click)="this.selectPage(this.discountCodeUsers.code_uses.current_page - 2)">{{this.discountCodeUsers.code_uses.current_page - 2}}</a></li>
        <li class="page-item"><a role="button" class="page-link" (click)="this.selectPage(this.discountCodeUsers.code_uses.current_page - 1)">{{this.discountCodeUsers.code_uses.current_page - 1}}</a></li>
        <li class="page-item"><a role="button" class="page-link disabled">{{this.discountCodeUsers.code_uses.current_page}}</a></li>
        <li class="page-item"><a role="button" class="page-link" (click)="this.selectPage(this.discountCodeUsers.code_uses.current_page + 1)">{{this.discountCodeUsers.code_uses.current_page + 1}}</a></li>
        <li class="page-item"><a role="button" class="page-link" (click)="this.selectPage(this.discountCodeUsers.code_uses.current_page + 2)">{{this.discountCodeUsers.code_uses.current_page + 2}}</a></li>
        <li class="page-item"><a role="button" class="page-link" (click)="this.selectPage(this.discountCodeUsers.code_uses.last_page)">{{this.discountCodeUsers.code_uses.last_page}}</a></li>
        <li class="page-item"><a role="button" class="page-link" (click)="this.selectPage(this.discountCodeUsers.code_uses.current_page + 1)">&raquo;</a></li>
      </ul>
    </nav>
    <nav>
      <ul class="pagination">
        <li class="page-item"><a role="button" (click)="this.selectPage(this.discountCodeUsers.code_uses.current_page + 1)">&laquo;</a></li>
        <li class="px-1">showing results {{this.discountCodeUsers.code_uses.from}} - {{this.discountCodeUsers.code_uses.to}}</li>
        <li class="page-item"><a role="button" (click)="this.selectPage(this.discountCodeUsers.code_uses.current_page + 1)">&raquo;</a></li>
      </ul>
    </nav>

    <table class="table table-bordered table-hover table-striped mt-5">
      <thead>
        <tr>
          <th class="text-uppercase text-center">id</th>
          <th class="text-uppercase">name</th>
          <th class="text text-uppercase">email</th>
          <th class="text text-uppercase">started</th>
          <th class="text text-uppercase">completed</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let codeUse of this.discountCodeUsers.code_uses.data" @FadeInOut2>
          <td class="text-center">{{codeUse.id}}</td>
          <td [routerLink]="[
            '/admin', 'publisher', 'course', 'user_progress', codeUse.user_progress_id
          ]">
            {{ codeUse.user.first_name }} {{ codeUse.user.last_name }}
          </td>
          <td>{{ codeUse.user.email }}</td>
          <td>{{ codeUse.user.created_at | date:'mediumDate' }}</td>
          <td>
            <span [innerHtml]="( codeUse.completed_activities_count / this.discountCodeUsers.course.total_activities * 100) | number:'1.0-0'"></span>%
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
