#logo {
  max-height: 3.5rem;
}

// Force hidding of ngbDropdownToggle user menu (Bootstrap classes get over-ridden)
#dropdown-icon {
  display: none!important;
}

#headbar-user-dropdown {
	background-color: orange;
  color: #2d2d2d;
}

#user-name {
  max-width: 130px;
  overflow: hidden;
  color: darkorange;
}

#signIn-dashboard {
  padding: 0; /* Overrides Bootstrap's nav-link padding */
}

// Change main menu item hover colour in headerbar
.dropdown-item:focus, .dropdown-item:hover {
  background-color: rgb(223, 240, 255);
}

.nav-item {
  line-height: 1.1;
  padding: 0;
}

.active {
  background-color: #454b50;
  border-radius:.35rem;
}

@media (min-width: 992px) {
  #dropdown-icon {
    display: inline-block!important;
  }
}
