<nav
  id="header-menu"
  class="navbar navbar-expand-lg justify-content-between"
  [ngClass]="theme.bootstrap_nav"
>
  <button
    (click)="menuCollapsed = !menuCollapsed"
    class="navbar-toggler p-1 p-sm-2"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand ml-xs-3 ml-md-5 ml-lg-0" (click)="logoLink(theme)">
    <img
      id="logo"
      *ngIf="theme.logo"
      [src]="this.sanit.bypassSecurityTrustResourceUrl(theme.logo)"
    />
  </a>

  <div class="navbar navbar-expand px-0 alwaysVisible">
    <!--
      alwaysVisible class background:
      https://stackoverflow.com/questions/59807203/bootstrap-4-how-to-prevent-collapsing-menu-from-collapsing-all-elements-in-the

      User menu and login links are placed just after logo to prevent these collapsing into the burger menu when it was opened
    -->
    <div class="pr-3 d-none d-sm-block" style="line-height: 1.2">
      <a
        *ngIf="!this.userService.user"
        [innerHtml]="'Sign&nbsp;in'"
        href="/user/login"
        id="signIn-dashboard"
        class="nav-link handy"
      >
      </a>
      <a href="/user/profile">
        <div
          id="user-name"
          class="activity-menu-label text-right"
          [innerHtml]="
            this.userService.user ? this.userService.user.username : 'Guest'
          "
        ></div>
        <div
          id="user-email"
          class="activity-menu-label"
          [innerHtml]="this.userService.user ? this.userService.user.email : ''"
        ></div>
      </a>
    </div>

    <!-- LOGGED IN USER - PROFILE ICON WITH DROP DOWN -->
    <div *ngIf="this.userService.user; else anonUser" ngbDropdown>
      <button class="btn px-0 px-sm-2" ngbDropdownToggle>
        <img
          ngxGravatar
          [src]="this.gravatarMd5.gravatarMD5src(this.userService.user.email)"
          [size]="36"
        />
      </button>

      <div
        class="dropdown-menu dropdown-menu-right"
        aria-labelledby="navbarDropdown"
        ngbDropdownMenu
      >
        <!-- USER MENU: SYS ADMIN -->
        <div [ngClass]="this.userService.userHasRole(1) ? '' : 'd-none'">
          <a
            class="dropdown-item py-2"
            [routerLink]="['/admin', 'system', 'dashboard']"
            (click)="collapseMenus()"
            ngbDropdownItem
          >
            <div class="menu-icon text-center d-inline-block pr-2">
              <fa-icon
                [icon]="faScrewdriverWrench"
                class="text-warning"
              ></fa-icon>
            </div>
            System Dashboard
          </a>

          <!-- MENU ITEMS DIVIDER -->
          <div class="dropdown-divider"></div>
        </div>

        <!-- USER MENU: PUBLISHER-->
        <div [ngClass]="this.userService.userHasRole(2) ? '' : 'd-none'">
          <a
            class="dropdown-item py-2"
            [routerLink]="['/admin', 'publisher', 'profile']"
            (click)="collapseMenus()"
            ngbDropdownItem
          >
            <div class="menu-icon text-center d-inline-block pr-2">
              <fa-icon [icon]="faGem" class="text-warning"></fa-icon>
            </div>
            Publisher
          </a>

          <a
            class="dropdown-item py-2"
            [routerLink]="['/admin', 'publisher', 'courses']"
            (click)="collapseMenus()"
            ngbDropdownItem
          >
            <div class="menu-icon text-center d-inline-block pr-2">
              <!-- <fa-icon [icon]="faPenNib" class="text-warning"></fa-icon> -->
            </div>
            Reports
          </a>

          <a
            class="dropdown-item py-2"
            [routerLink]="['/admin', 'publisher', 'discount-codes']"
            (click)="collapseMenus()"
            ngbDropdownItem
          >
            <div class="menu-icon text-center d-inline-block pr-2">
              <!-- <fa-icon [icon]="faBarcode" class="text-warning"></fa-icon> -->
            </div>
            Access Codes
          </a>

          <!-- MENU ITEMS DIVIDER -->
          <div class="dropdown-divider"></div>
        </div>

        <!-- USER MENU: MY COURSES & PROFILE -->
        <a
          class="dropdown-item py-2"
          [routerLink]="['/user', 'webcourses']"
          (click)="collapseMenus()"
          ngbDropdownItem
        >
          <div class="menu-icon text-center d-inline-block pr-2">
            <fa-icon [icon]="faGraduationCap" class="text-warning"></fa-icon>
          </div>
          My Courses
        </a>

        <a class="dropdown-item py-2" href="/user/profile" ngbDropdownItem>
          <div class="menu-icon text-center d-inline-block pr-2">
            <fa-icon [icon]="faWrench" class="text-warning"></fa-icon>
          </div>
          Profile
        </a>

        <!-- MENU ITEMS DIVIDER -->
        <div class="dropdown-divider"></div>

        <!-- 'SIGN OUT' MENU OPTION: Uses button for proper cursor at hover -->
        <button
          class="dropdown-item"
          (click)="this.headerbarService.signOut()"
          ngbDropdownItem
        >
          <div class="menu-icon text-center d-inline-block pr-2">
            <fa-icon [icon]="faSignOutAlt" class="text-warning"></fa-icon>
          </div>
          Sign out
        </button>
      </div>
    </div>

    <!-- ANON USER, WITH GENERIC USER ICON -->
    <ng-template #anonUser>
      <a [href]="'/user/login'">
        <img
          ngxGravatar
          [src]="this.gravatarMd5.gravatarMD5src('anon@webcourses.io')"
          [size]="36"
        />
      </a>
    </ng-template>
  </div>

  <div
    class="collapse navbar-collapse"
    id="navbarSupportedContent"
    [ngbCollapse]="menuCollapsed"
  >
    <ul class="navbar-nav mr-auto">
      <!-- STANDARD MAIN NAVIGATION, SYSTEM BRANDED AND LINKED -->

      <ng-container *ngIf="theme.publisher_id == 1; else publisherCustom">
        <!-- CATALOGUE / WEBCOURSES LINK -->
        <li
          class="nav-item px-2 py-1 mx-2"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link"
            [routerLink]="['/catalogue']"
            (click)="collapseMenus()"
            >Webcourses</a
          >
        </li>

        <!-- PUBLISHERS LINK -->
        <li
          class="nav-item px-2 py-1 mx-2"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" href="https://publish.cultivatelearning.ca"
            >Publish</a
          >
        </li>

        <!-- HELP PAGE LINK -->
        <li
          class="nav-item px-2 py-1 mx-2"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" [routerLink]="['/help']" (click)="collapseMenus()"
            >Help</a
          >
        </li>

        <!-- CONTACT PAGE LINK -->
        <li
          class="nav-item px-2 py-1 mx-2"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link"
            [routerLink]="['/contact']"
            (click)="collapseMenus()"
            >Contact</a
          >
        </li>
      </ng-container>

      <!-- PUBLISHER'S MAIN NAVIGATION, WITH EXIT LINK TO MAIN SYSTEM -->

      <ng-template #publisherCustom>
        <!-- CATALOGUE / WEBCOURSES LINK -->
        <li
          class="nav-item px-2 py-1 mx-2"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link"
            [routerLink]="['/catalogue', 'publisher', theme.path]"
            (click)="collapseMenus()"
          >
            {{ theme.label }} Webcourses
          </a>
        </li>

        <!-- HELP PAGE LINK -->
        <li
          class="nav-item px-2 py-1 mx-2"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link"
            [routerLink]="['/help', theme.path]"
            (click)="collapseMenus()"
            >Help</a
          >
        </li>

        <!-- EXIT TO MAIN CATALOGUE LINK -->
        <li
          class="nav-item px-2 py-1 mx-2"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a
            class="nav-link"
            [routerLink]="['/catalogue']"
            (click)="collapseMenus()"
          >
            Exit {{ theme.label }}
          </a>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
