<nav
  id="header-menu"
  class="navbar navbar-expand-lg bg-dark"
  [ngClass]="theme.bootstrap_nav"
>
  <button class="navbar-toggler" type="button"
    (click)="menuCollapsed = !menuCollapsed"
    data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
    >
    <span class="navbar-toggler-icon"></span>
  </button>

  <img
    *ngIf="theme.logo"
    (click)="logoLink(theme)"
    [src]="this.sanit.bypassSecurityTrustResourceUrl(theme.logo)"
    id="logo"
    class="navbar-brand ml-2 ml-lg-0 mr-0 mr-lg-5 handy"
  >

  <button class="navbar-toggler" type="button" (click)="menuCollapsed2 = !menuCollapsed2" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
    <img ngxGravatar [src]="this.gravatarMd5.gravatarMD5src(this.userService.user ? this.userService.user.email : 'anon@webcourses.io')" [size]='36'>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="menuCollapsed">
    <ul class="navbar-nav">

      <ng-container *ngIf="theme.publisher_id == 1; else PublisherHome">
        <li
          [routerLink]="['/']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item handy px-2 py-1 mx-0 mx-lg-2 mt-3 mt-lg-0"
          >
          <a class="nav-link" (click)="collapseMenus()">Home</a>
        </li>
        <li
          [routerLink]="['/catalogue']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item handy px-2 py-1 mx-0 mx-lg-2 mt-3 mt-lg-0"
          >
          <a class="nav-link" (click)="collapseMenus()">Web Courses</a>
        </li>
        <li
          [routerLink]="['/help']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item handy px-2 py-1 mx-0 mx-lg-2 mt-3 mt-lg-0"
          >
          <a class="nav-link" (click)="collapseMenus()">Help</a>
        </li>

        <!-- <li
          [routerLink]="['/catalogue', 'publishers']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item handy px-2 py-1 mx-0 mx-lg-2"
          >
          <a class="nav-link text-light" (click)="collapseMenus()">Publishers</a>
        </li>
        <li
          [routerLink]="['/about']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item handy px-2 py-1 mx-0 mx-lg-2"
          >
          <a class="nav-link text-light" (click)="collapseMenus()">About us</a>
        </li> -->
      </ng-container>

      <ng-template #PublisherHome>
        <li
          [routerLink]="['/catalogue', 'publisher', theme.path]"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item handy px-2 py-1 mx-2 mt-3 mt-lg-0"
          >
          <a class="nav-link" (click)="collapseMenus()">{{ theme.label }} Web Courses</a>
        </li>
        <li
          [routerLink]="['/help', (theme.path != 'default') ? theme.path : '']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          class="nav-item handy px-2 py-1 mx-0 mx-lg-2 mt-3 mt-lg-0"
          >
          <a class="nav-link" (click)="collapseMenus()">Help</a>
        </li>
        <li [routerLink]="'/catalogue'" class="nav-item handy px-2 py-1 mx-2">
          <a class="nav-link" style="opacity:.52" (click)="collapseMenus()">Exit {{ theme.label }}</a>
        </li>
      </ng-template>

    </ul>
  </div>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent2" [ngbCollapse]="menuCollapsed2">

    <div
      ngbDropdown
      role="group"
      aria-label="User Menu"
      placement="bottom-right"
      display="dynamic"
    >

      <div class="container">
        <div class="row">
          <div class="col text-right" style="line-height: 1.2">
            <a
              [href]="this.userService.user ? '/user/dashboard/' : '/user/login'"
              [innerHtml]="this.userService.user ? 'Dashboard' : 'Sign&nbsp;in'"
              id="signIn-dashboard"
              class="nav-link handy"
            >
            </a>

            <small id="user-name" class="activity-menu-label" [innerHtml]="this.userService.user ? this.userService.user.username : 'Guest'"></small>

          </div>
          <div class="col p-0" ngbDropdownToggle *ngIf="this.userService.user; else noDropdown">
            <img
              ngxGravatar
              [src]="this.gravatarMd5.gravatarMD5src(this.userService.user.email)"
              [size]='36'
            >
          </div>
          <ng-template #noDropdown>
            <img
              ngxGravatar
              [src]="this.gravatarMd5.gravatarMD5src('anon@webcourses.io')"
              [size]='36'
            >
          </ng-template>
        </div>
      </div>

      <div
        class="dropdown-menu mt-2"
        *ngIf="this.userService.user"
        ngbDropdownMenu
      >

        <button
          ngbDropdownItem
          [routerLink]="['/user', 'webcourses']"
          (click)="collapseMenus()"
          class="nav-item handy p-3"
          >
          <fa-icon [icon]="faGraduationCap" class="py-3 px-2 text-warning"></fa-icon>
          My Courses3
        </button>

        <!-- [routerLink]="['/publisher', this.user.publisherId, 'webcourses']" -->
        <button
          ngbDropdownItem
          [routerLink]="['/admin/', 'publisher', 'dashboard']"
          [routerLinkActive]="['active2']"
          (click)="collapseMenus()"
          class="nav-item handy p-3"
          >
          <fa-icon [icon]="faGem" class="py-3 px-2 text-warning"></fa-icon>
          Publisher
        </button>

        <button
          ngbDropdownItem
          [routerLink]="['/admin', 'dashboard']"
          [routerLinkActive]="['active2']"
          (click)="collapseMenus()"
          class="nav-item handy p-3"
          >
          <fa-icon [icon]="faWrench" class="py-3 px-2 text-warning"></fa-icon>
          Admin
        </button>

        <button
          ngbDropdownItem
          (click)="this.headerbarService.signOut()"
          class="nav-item handy p-3"
          >
          <fa-icon [icon]="faWrench" class="py-3 px-2 text-warning"></fa-icon>
          Sign out
        </button>
      </div>
    </div>


    <ul class="navbar-nav" style="min-width:190px">
      <li
        *ngIf="this.userService.user"
        [routerLink]="['/user', 'webcourses']"
        (click)="collapseMenus()"
        class="nav-item btn-group d-xs-block d-lg-none handy mt-4 mb-2 justify-content-end">
        My Courses2
      </li>
      <!-- [routerLink]="['/publisher', this.user.publisherId, 'webcourses']" -->
      <li
        [routerLink]="['/admin', 'publisher', 'dashboard']"
        (click)="collapseMenus()"
        class="nav-item btn-group d-xs-block d-lg-none handy my-2 justify-content-end">
        Publisher
      </li>
      <li
        [routerLink]="['/admin', 'dashboard']"
        (click)="collapseMenus()"
        class="nav-item btn-group d-xs-block d-lg-none handy my-2 justify-content-end">
        Admin
      </li>
    </ul>

  </div>
</nav>
