<div
  id="chapter-index-tab"
  class="px-4"
  *ngIf="this.courseChapterIndexService.selectedCourseChapters as chapterIndex; else loading"
  @fadeInOut
  >
  <div class="container-fluid my-3">
    <div class="row">
      <div class="col mt-3">
        <ol class="list-unstyled">
          <li *ngFor="let chapter of chapterIndex, let chapterNumber = index" class="h5 font-weight-normal">

            <div *ngIf="chapterUnlock(chapterIndex, chapterNumber); else lockedChapter">
              <a (click)="this.navService.NavigateByAid(chapter.syllabus[0].activity_id)" class="handy">
                {{chapter.label}}
              </a>
            </div>
            <ng-template #lockedChapter>
              <div class="primary-text">
                {{chapter.label}}
              </div>
            </ng-template>

            <wngx-webcourse-bar [chapter]="chapter"></wngx-webcourse-bar>

          </li>
        </ol>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="mt-5">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-template>
