.clickActivity {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clickActivity li {
  margin: 3px 3px 3px 0;
  float: left;
  font-size: 1em;
  text-align: center;
  border-radius: 4px;
  padding: 5px;
}

li.clickSelected {
  border: 1px solid #aed0ea;
  background: papayawhip;
  color: #2779aa;
}

li.clickFalse {
  border: 1px solid #aed0ea;
  background: transparent;
  color: #2779aa;
}

li.clickActivity label {
  margin: 0;
  padding: 5px;
}

li.clickCorrect {
  border: 1px solid #25a00d;
  background: #97dd97;
  color: #1f2a30;
}

li.clickWrong {
  border: 1px solid #bd3d27;
  background: #cc5f5f;
  color: #e6eaec;
}

li.clickMissed {
  border: 1px solid #666666;
  background: #bbbaba;
  color: #555555;
}

img.clickCorrect {
  box-shadow: 0 0 3px 6px rgb(25, 128, 25);
}

img.clickWrong {
  box-shadow: 0 0 3px 6px #bd3d27;
}

img.clickMissed {
  box-shadow: 0 0 3px 6px #4dd94d;
}

.click-img {
  max-width: 150px;
  border-radius: 1rem;
}