<mat-card class="card m-1" style="max-width: 22rem;">
  <small class="d-inline-block text-secondary float-right"> #{{ course.id }}</small>
  <mat-card-header>
    <mat-card-title class="text-dark">{{ course.title }}</mat-card-title>
    <mat-card-subtitle>${{ course.price / 100 }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image
    class="card-img-top handy" style="max-height: 11rem;"
    src="publisher-files/{{course.publisher.id}}/courses/{{course.id}}/images/{{course.cover}}" alt="{{course.cover_alt}}"
  >

  <!--
  <div class="progress" style="height: 6px">
    <div class="progress-bar progress-bar-striped"
      *ngIf="course.user_progress"
      role="progressbar"
      [style.width.%]="
        course.user_progress ?
        course.user_progress.total_activities_completed / course.total_activities * 100 : 0
      "
      [attr.aria-valuenow]="0"
      aria-valuemin="0"
      [attr.aria-valuemax]="100">
    </div>
  </div>
  -->

  <mat-card-content>
    <p style="max-height:125px; min-height: 50px; overflow-y:auto;">
      <span class="text-dark" [innerHtml]="course.short_desc | safehtml: 'html'"></span>
    </p>

    <!-- <app-course-access-block [course]="course"></app-course-access-block> -->


  </mat-card-content>

  <mat-card-actions>
    <app-buy-button [course]="course" class="d-inline-block"></app-buy-button>
    <button mat-button color="primary" [routerLink]="['/catalogue', 'course', course.id]">Details</button>
  </mat-card-actions>

  <mat-card-footer class="text-secondary text-uppercase">
    <div class="container-fluid">
      <div class="row p-1">
        <div class="col p-0">
          <small>
            {{ course.total_activities }}
            <fa-icon [icon]="faDiagramProject" class="mx-1" title="Activities"></fa-icon>
          </small>
          <small class="mx-1">
            {{ course.total_students }}
            <fa-icon [icon]="faUserGroup" class="mx-1" title="Participants"></fa-icon>
          </small>
        </div>
        <div class="col p-0 float-right">
          <a class="card-link">
            <small class="text-secondary text-nowrap">
              Publisher:
              <span
                [routerLink]="['/catalogue', 'publisher', course.publisher.id_alias]"
                class="text-uppercase text-primary handy"
                >
                {{ course.publisher.name }}
              </span>
            </small>
          </a>
        </div>
      </div>
    </div>
  </mat-card-footer>
</mat-card>
