<form [formGroup]="this.activeModeService.activityForm">
  <div class="row">

      <!-- RADIO FORM -->

      <div *ngIf="activity.meta.activity_type === 'radio'" class="container-fluid">

        <div *ngFor="let option of activity.answers; let i = index" class="row">

          <div class="col-sm-1 col-2 my-1 text-center">
            <input
              type="radio"
              [id]="option.id"
              [value]="option.id"
              formControlName="answer"
              >
          </div>

          <div class="col-sm-10 col-9 my-1">
            <label class="form-check-label"
              [for]="option.id"
              [innerHtml]="option.caption  | safehtml: 'html'"
              >
            </label>
          </div>

        </div>

      </div>


      <!-- CHECKBOX FORM -->

      <div *ngIf="activity.meta.activity_type === 'checkbox'" class="container-fluid mx-3">

        <div *ngFor="let option of activity.answers; let i = index" class="row">

          <div class="col-sm-1 col-2 my-1">
            <input
              type="checkbox"
              [id]="option.id"
              [value]="option.id"
              formControlName="answer"
              (click)="updateSelections(i)"
              >
          </div>

          <div class="col-sm-10 col-9 my-1">
            <label class="form-check-label"
              [for]="option.id"
              [innerHtml]="option.caption | safehtml: 'html'"
              >
            </label>
          </div>

        </div>

      </div>

      <!-- TEXTAREA FORM -->
      <div *ngIf="activity.meta.activity_type === 'textarea'" class="container">
        <textarea cols="66"
          [rows]="(activity?.default_answer) ?
            (activity.default_answer.length / 78 ) : 5"
          class="form-control"
          formControlName="answer"
          [value]="activity.default_answer"
        ></textarea>
      </div>

      <!-- TEXT FORM -->

      <div *ngIf="activity.meta.activity_type === 'text'" class="container">
        <input type="text" class="form-control"
          formControlName='answer'
          [value]="activity.answers"
          [src]="activity"
        >
      </div>

      <!-- CLICK ACTIVITY -->

      <div *ngIf="activity.meta.activity_type === 'click' && activity.meta.style != 'image'" class="container-fluid">
        <ul class="clickActivity">
          <!-- [ngClass]="activity.answers[i].selected ? 'clickSelected' : 'clickFalse'" -->
          <li
            *ngFor="let option of activity.answers; let i = index"
            >

            <input
              type="checkbox"
              [ngClass]="['d-none']"
              [id]="option.id"
              [value]="option.id"
              formControlName="answer"
              (click)="updateSelections(i)"
              >

            <label class="handy text-left px-3"
              [innerHtml]="option.caption"
              [for]="option.id"
            >
            </label>

          </li>
        </ul>
      </div>

      <div *ngIf="activity.meta.activity_type === 'click' && activity.meta.style === 'image'" class="container-fluid">
        <!-- [ngClass]="activity.answers[i].selected ? 'imgSelected' : 'imgFalse'" -->
        <img
          *ngFor="let image of activity.answers; let i = index"
          [src]="image.caption.src"
          [alt]="image.caption.alt"
          type="button"
          class="click-img mr-2 mt-2"
          (click)="updateSelections(i, true)"
        >
      </div>

  </div>
</form>
