<div class="text-right text-secondary mt-5 mr-5">
  <form #demoActivity="ngForm">
    <div class="form-check my-auto">
      <label class="form-check-label user-select-none" for="demoActivityCheck">
        Make this activity part of a free course demo
      </label>
      <input
        type="checkbox"
        class="form-check-input ml-3 mt-2"
        name="demoActivityCheck"
        id="demoActivityCheck"
        (ngModelChange)="saveActivityDemoStatus($event)"
        [ngModel]="activityMeta.demo"
      >
    </div>
    <!-- {{ demoActivity.value.demoActivityCheck }} -->
  </form>
</div>
