<div id="fullMainContent">

  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-lg-6">
        <div id="featuredCID" *ngIf="this.featuredCourse$ | async as course">
          <mat-card id="featured-card" class="mx-auto" tabindex="0">
            <mat-card-header>
              <mat-card-title [innerHTML]="course.title"></mat-card-title>
              <mat-card-subtitle [innerHtml]="'Recently added'"></mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image
              class="image-featured"
              src="publisher-files/{{course.publisher.id}}/courses/{{course.id}}/images/{{course.cover}}"
              alt="{{course.cover_alt}}"
            >
            <mat-card-content [innerHtml]="course.short_desc | safehtml: 'html'" class="text-dark"></mat-card-content>
            <!--
            <mat-card-actions>
              <button mat-button color="primary">More Info</button>
              <button mat-button>Details</button>
            </mat-card-actions>
            -->
            <mat-card-footer class="text-secondary">
              <div class="container">
                <div class="row align-items-start py-2">
                  <div class="col"><small>{{ course.total_activities }} Activities</small></div>
                  <div class="col text-center"><small>{{ course.total_students }} Participants</small></div>
                  <div class="col text-right"><small>Course #{{ course.id }}</small></div>
                </div>
              </div>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>

      <div class="col-lg-6">
        <div
          class="container-fluid text-center"
          *ngIf="this.webcoursesAll$ | async as webcourses"
          [appThemeSet]="this.themeService.defaultTheme"
          @fadeInOut
        >
          <!-- <div class="text-center mb-3">
            <h1 class="common-heading mb-0 mb-lg-2">Web Course Catalogue</h1>
            <small class="text-dark text-uppercase">All {{webcourses.length}} Publicly Available Courses</small>
          </div> -->

          <div *ngFor="let course of webcourses, let i = index, let l = last" class="d-inline-block">
            <app-catalogue-card [course]="course"></app-catalogue-card>
          </div>

        </div>

      </div>
    </div>
  </div>

</div>
