<div class="d-inline-block mb-3">
  <div class="card m-1" style="width: 22rem!important;">
    <img class="card-img-top" style="min-height: 10rem;"
      alt="Access a private course not listed in any catalogue"
      src="assets/card-logo.png"
    >

    <small class="text-secondary text-uppercase mt-2">Enrol in other courses</small>

    <div class="card-body text-center" style="min-height: 13rem;">
      <h5 class="card-title">Got a code for a private course?</h5>
      <p class="text-secondary" style="line-height: 1.2rem;">
        <small>Use this panel to unlock a private course not listed in any catalogue.</small>
      </p>

      <button class="btn btn-primary mt-1 mt-md-3"
        (click)="this.accessCodeModalService.accessCodeModal(null)"
      >
        Use code
      </button>
    </div>
  </div>
</div>
