.card-img-top {
  min-height: 9rem;
}

.icon-set {
  width:4rem;
  height:4rem;
}

.spec-card-title {
  font-size:1rem;
  font-weight:bold;
}

p, div, li {
  font-size: 1.1rem;
}

@media (min-width: 576px) {
  .card-img-top {
    min-height: 12rem;
  }
}

@media (min-width: 768px) {
  .card-img-top {
    min-height: 15rem;
  }
}

@media (min-width: 1160px) {
  .card-img-top {
    min-height: 20rem;
  }
}
