<div *ngIf="this.beforeAfter$ | async as beforeAfter">
  <p>Your before and after results for the pre and after course assessment are below.</p>
  <table class="table table-striped table-sm" style="max-width: 40rem;">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">Correct</th>
        <th scope="col" class="text-center">Wrong</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Before</th>
        <td class="text-center">
          <span class="text-success">{{beforeAfter.before.correct}}</span>
          <span class="text-dark"> / {{beforeAfter.before.total}}</span>
        </td>
        <td class="text-center text-danger">{{beforeAfter.before.wrong}}</td>
      </tr>
      <tr>
        <th scope="row">After</th>
        <td class="text-center">
          <span class="text-success">{{beforeAfter.after.correct}}</span>
          <span class="text-dark"> / {{beforeAfter.after.total}}</span>
        </td>
        <td class="text-center text-danger">{{beforeAfter.after.wrong}}</td>
      </tr>
    </tbody>
  </table>
</div>
