<div class="modal-body text-center">
  <h4 class="common-heading text-center" id="modal-basic-title">
    Access by code
  </h4>
  <div class="my-4">
    <fa-icon [icon]="faFingerprint" [spin]="false" class="display-4 text-secondary"></fa-icon>
  </div>
  <div class="font-weight-light">
    Enter code to access<br>
    <span class="font-weight-normal">
      {{this.accessCodeModalService.course.title}}
    </span>
  </div>
  <div>
    <form #accessCodeForm="ngForm">
      <input ngModel [(ngModel)]="accessCode" name="codeM" id="codeM" type="text" class="form-control w-50 my-4 mx-auto text-center" required>
      <div>
        <button class="btn btn-primary" (click)="submitCodeButton(accessCode)">Enter</button>
      </div>
    </form>
    {{ accessCode | json}}
  </div>
</div>
