<div class="modal-body text-center">
  <h2 class="common-heading text-center my-3" id="modal-basic-title">
    Course access
  </h2>
  <div class="my-4">
    <fa-icon [icon]="faFingerprint" [spin]="false" class="display-3 text-success"></fa-icon>
  </div>
  <div class="h5 font-weight-light">
    Enter code to access<br>
    <span class="font-weight-normal">
      {{this.accessCodeModalService.course.title}}
    </span>
  </div>
  <form #accessCodeForm="ngForm" class="my-4">
    <input
      type="text" class="form-control w-50 mx-auto text-center" minlength="12"
      [(ngModel)]="accessCode" required
    >

    <button type="submit" class="btn mt-4 w-25"
      (click)="submitCodeButton(accessCode)"
      [ngClass]="this.accessCodeModalService.submitButtonActive ? 'btn-primary' : 'btn-secondary'"
      [disabled]="!accessCodeForm.valid || !this.accessCodeModalService.submitButtonActive"
    >
      <span *ngIf="this.accessCodeModalService.submitButtonActive; else Loading">
        Enter
      </span>
      <ng-template #Loading>
        <fa-icon [icon]="faSpinner" [spin]="true" [pulse]="true"></fa-icon>
      </ng-template>
    </button>
  </form>
</div>
