<div class="container-fluid bg-dark mt-3 mt-lg-5">
  <div class="row py-5">
    <div class="col px-5 text-light">
      <h5><u>Support</u></h5>
      <p>
        Course specific inquiries shoud be forwarded to its publisher.<br>
        <span class="font-weight-bold">Tech Support</span> provided by
        <a [href]="'mailto:support@cultivatelearning.ca'">support@cultivatelearning.ca</a>.<br>
      </p>
    </div>
    <div class="col px-5 text-light">
      <h5><u>Credits</u></h5>

      <small>Leaf image: <a [href]="'https://www.flaticon.com/free-icon/leaf_861054?term=leaf&page=3&position=29'" title="Good Ware" target="_blank">
      Good Ware</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></small>
    </div>
  </div>
</div>
