<div id="completion-certificate" class="text-center">

  <button class="btn btn-primary mt-1 mb-2"
    [disabled]="this.completionCertService.downloadCertificateLoading ? true : false"
    (click)="downloadCertificateBtn(activity.id)"
  >

    <span *ngIf="!this.completionCertService.downloadCertificateLoading; else preparing">
      <fa-icon [icon]="faFileArrowDown" class="mr-3"></fa-icon>
      Download <span class="small font-weight-light">(PDF)</span>
    </span>

    <ng-template #preparing>
      <fa-icon [icon]="faSpinner" [spin]="true" [pulse]="true"></fa-icon>
    </ng-template>
  </button>

</div>
