<div id="fullMainContent"
  *ngIf="(publisherInfo$ | async) as publisherInfo"
  [appThemeSetNew]="publisherInfo"
  @fadeInOut
  >

  <div class="card mx-2">

    <div class="card-header text-center no-print">

      <h2 class="text-uppercase">STUDENT COURSE ANSWERS</h2>

    </div>


    <div class="card-body">

      <div class="container-flex">

        <div class="row mb-4 mx-auto" style="width: 75%"
          *ngFor="let activity of studentActivities$ | async; let lastAid = last; let firstAid = first; let i = index;"
          >

          <div class="col">

            <div [innerHTML]="activity.body.prequestion" class="prequestion mb-3"></div>
            <div [innerHTML]="activity.body.question" class="question mb-3 h5"></div>
            <div [innerHTML]="activity.body.assess_text" class="assess_text mb-3"></div>

            <app-review-mode [activity]="activity"></app-review-mode>

            <div class="after_word alert alert-primary mt-3"
              *ngIf="activity.body.after_word"
              [innerHTML]="activity.body.after_word">
            </div>

          </div>

        </div> <!-- EO Activity Row -->

      </div> <!-- EO Activity Row -->

    </div> <!-- EO Activities Container -->

  </div> <!-- EO card -->

</div>
