<app-chapter-end *ngIf="this.workareaService.endOfChapter"></app-chapter-end>
<app-course-end *ngIf="this.workareaService.endOfCourse && !this.workareaService.endOfChapter"></app-course-end>

<div *ngIf="!this.workareaService.endOfChapter && !this.workareaService.endOfCourse">
  <div class="container" *ngIf="this.workareaService.activities" id="workarea-activities">
    <app-demo-flag
      *ngIf="this.selectedService.selectedCourse.publisher_id === this.userService.user.id"
      [activityMeta]="this.workareaService.activities[0].meta"
    ></app-demo-flag>
    <div *ngFor="let activity of this.workareaService.activities" class="row activity mt-4" @fadeInOut>


      <div
        [id]="'activity' + activity.meta.activity_id"
        [ngClass]="(activity.user_answers) ? 'reviewModeActivity' : 'activeModeActivity'"
        class="col"
      >

        <!--!!!!!!!!!!!!!!!
            ngIf is required on activity.* so 'Fringe' browser doesn't show nulls
            !!!!!!!!!!!!!!! -->

        <div *ngIf="activity.prequestion" [innerHTML]="activity.prequestion | safehtml: 'html'" class="prequestion mb-3"></div>
        <div *ngIf="activity.question" [innerHTML]="activity.question | safehtml: 'html'" class="question mb-3 mt-4 h5"></div>
        <!-- click2 type's assess-text holds punctuation mark data in json format -->
        <div
          *ngIf="activity.assess_text && activity.meta.activity_type != 'click2' && activity.meta.activity_type != 'click'"
          [innerHtml]="activity.assess_text | safehtml: 'html'"
          class="assess_text mb-4"
        ></div>

        <div *ngIf="
          activity.meta.activity_type === 'dnd' ||
          activity.meta.activity_type === 'dnd-match' ||
          activity.meta.activity_type === 'click2';
          else bulkActivities
        ">
          <app-dnd *ngIf="activity.meta.activity_type === 'dnd'  || activity.meta.activity_type === 'dnd-match'" [activity]="activity"></app-dnd>
          <app-click-rotate *ngIf="activity.meta.activity_type === 'click2'" [activity]="activity"></app-click-rotate>
        </div>

        <ng-template #bulkActivities>
          <app-review-mode *ngIf="activity.user_answers" [activity]="activity"></app-review-mode>
          <app-active-mode *ngIf="!activity.user_answers" [activity]="activity"></app-active-mode>
        </ng-template>

        <app-special-activity *ngIf="activity.meta.activity_type === 'special'" [activity]="activity"></app-special-activity>

        <div class="after_word alert alert-primary mt-4"
          *ngIf="activity.after_word"
          [innerHTML]="activity.after_word | safehtml: 'html'"
          @fadeInOut
          >
        </div>


      </div>

    </div>

    <div class="py-5 d-print-none">
      <div class="float-left handy" (click)="printButton()">
        <fa-icon [icon]="faPrint" class="text-info mr-3"></fa-icon>
        <span class="text-secondary h6">Print</span>
      </div>

      <app-nav class="row justify-content-end d-print-none"></app-nav>
    </div>

  </div>
</div>
