<app-chapter-end *ngIf="this.webcourseService.endOfChapter"></app-chapter-end>
<app-course-end *ngIf="this.webcourseService.endOfCourse && !this.webcourseService.endOfChapter"></app-course-end>

<div *ngIf="!this.webcourseService.endOfChapter && !this.webcourseService.endOfCourse">

  <div class="container">
    <div
      *ngIf="this.selectedCourseService.selectedActivitySet$ | async as activitySet"
      class="row justify-content-between my-3"
    >
      <div class="col">
        <app-bookmark-button [firstActivity]="activitySet[0]"></app-bookmark-button>
        <!-- "Make activity part of demo" checkbox (publishers only)  -->
        <div *ngIf="this.selectedCourseService.selectedCourse as selectedCourse">
          <app-demo-flag></app-demo-flag>
          <!--
          <app-demo-flag
            *ngIf="selectedCourse.publisher.owner_uid === this.userService.user.id"
          ></app-demo-flag>
          -->
        </div>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="this.activitiesService.activities" id="workarea-activities">

    <div *ngFor="let activity of this.activitiesService.activities" class="row activity mt-4" @fadeInOut>

      <div
        [id]="'activity' + activity.meta.activity_id"
        [ngClass]="(activity.user_answers) ? 'reviewModeActivity' : 'activeModeActivity'"
        class="col"
      >

        <!--!!!!!!!!!!!!!!!
            ngIf is required on activity.* so 'Fringe' browser doesn't show nulls
            !!!!!!!!!!!!!!! -->

        <div *ngIf="activity.prequestion" [innerHTML]="activity.prequestion | safehtml: 'html'" class="prequestion mb-3"></div>
        <div *ngIf="activity.question" [innerHTML]="activity.question | safehtml: 'html'" class="question mb-3 mt-4 h5"></div>
        <!-- click2 type's assess-text holds punctuation mark data in json format -->
        <div
          *ngIf="activity.assess_text && activity.meta.activity_type != 'click2' && activity.meta.activity_type != 'click'"
          [innerHtml]="activity.assess_text | safehtml: 'html'"
          class="assess_text mb-4"
        ></div>

        <div *ngIf="
          activity.meta.activity_type === 'dnd' ||
          activity.meta.activity_type === 'dnd-match' ||
          activity.meta.activity_type === 'click2';
          else bulkActivities
        ">
          <app-dnd *ngIf="activity.meta.activity_type === 'dnd'  || activity.meta.activity_type === 'dnd-match'" [activity]="activity"></app-dnd>
          <app-click-rotate *ngIf="activity.meta.activity_type === 'click2'" [activity]="activity"></app-click-rotate>
        </div>

        <ng-template #bulkActivities>
          <app-review-mode *ngIf="activity.user_answers" [activity]="activity"></app-review-mode>
          <app-active-mode *ngIf="!activity.user_answers" [activity]="activity"></app-active-mode>
        </ng-template>

        <app-special-activity *ngIf="activity.meta.activity_type === 'special'" [activity]="activity"></app-special-activity>

        <div class="after_word alert alert-primary mt-4"
          *ngIf="activity.after_word"
          [innerHTML]="activity.after_word | safehtml: 'html'"
          @fadeInOut
          >
        </div>

      </div>

    </div>

  </div>
</div>

<nav class="fixed-bottom d-print-none" id="activity-nav-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-5 d-none d-lg-block">
        <!-- This area is hidden under the activity sidebar -->
      </div>
      <div class="col-lg-7 my-auto">

        <div class="container-fluid">
          <div class="row justify-content-between">
            <div class="col-auto my-auto">
              <div class="handy" (click)="printButton()">
                <fa-icon [icon]="faPrint" class="text-secondary mx-2"></fa-icon>
                <span class="text-dark h6">Print</span>
              </div>
            </div>
            <div class="col-auto my-auto text-center">
              <fa-icon [icon]="faSpinner" [spin]="true" [pulse]="true" class="ml-2 mr-1 text-dark fa-fade" size="2x" *ngIf="this.webcourseService.waitingForApi"></fa-icon>
            </div>
            <div class="col-auto">
              <div class="my-2">
                <app-nav class="my-2"></app-nav>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>
