<ng-template #loading>
  <fa-icon [icon]="faSpinner" [spin]="true" [pulse]="true" @fadeInOut></fa-icon>
</ng-template>

<div *ngIf="activity.meta.activity_id == 3531  || activity.meta.activity_id == 3536">
  <p>Your before and after results for the pre and after course assessment are below.</p>
  <table class="table table-striped table-sm" style="max-width: 40rem;">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" class="text-center">Correct</th>
        <th scope="col" class="text-center">Wrong</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Before</th>
        <td class="text-center text-success">
          <span *ngIf="this.customActivitiesService.count; else loading" @fadeInOut>
            {{this.customActivitiesService.count.before.correct}} / {{this.customActivitiesService.count.before.total}}
          </span>
        </td>
        <td class="text-center text-danger">
          <span *ngIf="this.customActivitiesService.count; else loading" @fadeInOut>
            {{this.customActivitiesService.count.before.wrong}}
          </span>
        </td>
      </tr>
      <tr>
        <th scope="row">After</th>
        <td class="text-center text-success">
          <span *ngIf="this.customActivitiesService.count; else loading" @fadeInOut>
            {{this.customActivitiesService.count.after.correct}} / {{this.customActivitiesService.count.after.total}}
          </span>
        </td>
        <td class="text-center text-danger">
          <span *ngIf="this.customActivitiesService.count; else loading" @fadeInOut>
            {{this.customActivitiesService.count.after.wrong}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="activity.meta.activity_id == 4076">

  <div class="text-center">
    <h3>Thank you for completing</h3>
    <h3 class="willow-heading">
      Stop Family Violence<br>
      A Course for Service Providers in Manitoba
    </h3>
    <button class="btn my-3"
      [ngClass]="this.completionCertificatesService.downloadCertificateLoading ? 'btn-secondary' : 'btn-success'"
      [disabled]="this.completionCertificatesService.downloadCertificateLoading ? true : false"
      (click)="this.completionCertificatesService.downloadCertificate()"
    >
      <span *ngIf="!this.completionCertificatesService.downloadCertificateLoading; else preparing">
        Certificate of Completion
      </span>

      <ng-template #preparing>
        <fa-icon [icon]="faSpinner" [spin]="true" [pulse]="true"></fa-icon>
      </ng-template>


    </button>
    <p class="text-italic">For further information and support, please contact:</p>
  </div>

  <div class="container">
    <div class="row justify-content-between">
      <div class="col px-0 text-center">
        <p>
          <span class="font-weight-bold"><a href="http://maws.mb.ca/" target="_blank">Manitoba Association of Women's Shelters</a></span><br>
          <a href="mailto:deenacoordinator@maws.mb.ca" target="_blank">deenacoordinator@maws.mb.ca</a>
        </p>
        <img class="img-fluid w-75" src="/webcourses/publisher-files/29/courses/408/images/4076-0.png" alt="Manitoba Association of Women's Shelters Logo">
      </div>
      <div class="col text-center">
        <p>
          <span class="font-weight-bold"><a href="https://willowplaceshelter.ca/" target="_blank">Willow Place</a></span><br>
          <a href="mailto:reception@willowplace.ca" target="_blank">reception@willowplace.ca</a>
        </p>
        <img class="img-fluid w-75" src="/webcourses/publisher-files/29/courses/408/images/4076-1.png" alt="Willow Place Logo">
      </div>
    </div>
  </div>

</div>
