<div ngbDropdown>
  <div ngbDropdownToggle>
    <div class="d-inline-flex">
    <fa-icon class="text-secondary" [icon]="faFilter"></fa-icon>
    <h6 class="text-secondary pr-1">Filters</h6>
    </div>
  </div>

  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" ngbDropdownMenu>
    <button class="py-2" ngbDropdownItem (click)="collapseMenus(); sortbyAlphabetical()">
      Alphabetical
    </button>

    <button class="py-2" ngbDropdownItem (click)="collapseMenus(); sortbyRecent()">
      Recent
    </button>
  </div>
</div>
