<div id="progress-tab" class="px-4 mt-3">

  <div *ngIf="this.selectedCourseService.selectedCourse as selectedCourse; else loading">
    <div class="container-fluid my-3" [@FadeInOut2]="selectedCourse">
      <div class="row">
        <div class="col mt-3">
          <p class="h5 mb-0 primary-text" [innerHtml]="selectedCourse.title"></p>
          <small class="text-uppercase main-label primary-text">Course with {{selectedCourse.total_activities}} activities</small>
          <div class="mt-2" id="courseProgress">
            <ngb-progressbar
              [value]="this.completionStatsService.totalActivitiesCompleted / selectedCourse.total_activities * 100"
              height="3px"
            ></ngb-progressbar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="this.courseChapterIndexService.selectedChapter as selectedChapter; else loading">
    <div class="container-fluid my-3" [@FadeInOut2]="selectedChapter">
      <div class="row">
        <div class="col mt-3">
          <p class="h5 mb-0 primary-text">{{ selectedChapter.label }}</p>
          <small class="text-uppercase main-label primary-text">Chapter with {{ selectedChapter.syllabus.length }} activities</small>
          <app-activities-bar [chapter]="selectedChapter"></app-activities-bar>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="mt-5">
      <app-loading-spinner></app-loading-spinner>
    </div>
  </ng-template>
</div>
