<!-- API progress loader bar and top right corner spinner -->
<ng-progress #progressBar></ng-progress>

<header *ngIf="this.themeResetService.activeTheme$ | async as publisher" class="fixed-top">
  <link rel="stylesheet" [href]="this.sanitiser.bypassSecurityTrustResourceUrl('publisher-files/' + publisher.id + '/theme/styles.css')">
  <app-header-bar [publisher]="publisher"></app-header-bar>
  <app-nav-admin *ngIf="this.configService.params.devMode"></app-nav-admin>
</header>

<main [ngClass]="this.configService.params.devMode ? 'mt-5' : 'mt-0'">
  <router-outlet></router-outlet>
</main>
