#main-content-area {
  margin-left: 14rem;
}

#logo-container {
  -webkit-flex: 0 0 14rem;
  -ms-flex: 0 0 14rem;
  flex: 0 0 14rem;
}

.app-body {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow-x: hidden;
}

.footer {
  height: 4rem;
  min-height: 4rem;
  background-color: white;
  box-shadow: 0 .9rem .9rem .9rem rgba(0,0,0,.15);
}

.navbar-light {
  min-height: 4rem;
  background-color: #c2c2c2;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.page-holder {
  height: calc(100vh - 65px);
}

@media (max-width: 968px) {
  .bd-navbar {
    padding-right: .5rem;
    padding-left: .5rem;
  }

}

@media only screen and (max-width: 1076px) {
  #main-content-area {
    margin-left: 5rem;
  }

  #sidebar {
    width: 5rem !important;
  }

}
