<!-- API progress loader bar and top right corner spinner -->
<ng-progress #progressBar></ng-progress>

<header *ngIf="this.themeService.activeTheme$ | async as theme" class="fixed-top">
  <link rel="stylesheet" [href]="this.sanitiser.bypassSecurityTrustResourceUrl(theme.css)">
  <app-header-bar [theme]="theme"></app-header-bar>
  <app-nav-admin *ngIf="this.configService.params.devMode"></app-nav-admin>
</header>

<main [ngClass]="this.configService.params.devMode ? 'mt-5' : 'mt-0'">
  <router-outlet></router-outlet>
</main>
