.clickActivity {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clickActivity li {
  margin: 3px 3px 3px 0;
  float: left;
  font-size: 1em;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.clickActivity label {
  margin: 0;
  padding: 5px;
}

.clickSelected {
  border: 1px solid #aed0ea;
  background: papayawhip;
  color: #2779aa;
}

.clickFalse {
  border: 1px solid #aed0ea;
  background: transparent;
  color: #2779aa;
}

.click-img {
  max-width: 150px;
  border-radius: 1rem;
}

.imgSelected {
  // border: .5rem solid rgb(25, 128, 25);
  box-shadow: 0 0 3px 6px rgb(25, 128, 25);
}

