<div id="fullMainContent">
  <div class="container-fluid">
    <div
      class="row d-flex justify-content-center my-4"
      *ngIf="this.user$ | async as user"
      @fadeInOut
    >
      <div class="col-auto my-auto">
        <img
          ngxGravatar
          [src]="this.gravatarMd5.gravatarMD5src(user.email)"
          [size]="100"
          class="mr-4 img-fluid"
        />
        <div class="lead d-inline-block">
          <span *ngIf="user.first_name; else newUser">Welcome back, {{ user.last_name }}</span>
          <ng-template #newUser>
            <span>Welcome, {{ user.username }}</span>
          </ng-template>
        </div>
      </div>
    </div>

    <hr class="mb-5">

    <div
      class="row d-flex justify-content-center"
      *ngIf="this.user.userCourses$ | async as userCourses; else loading"
      @fadeInOut
    >
      <small class="text-dark text-uppercase">{{userCourses.length}} Courses</small>

      <div
        class="col-auto mb-3 align-top"
        *ngFor="let course of userCourses, let i = index, let l = last"
        @fadeInOut
      >
        <div class="card my-4">
          <div class="row no-gutters">
            <div class="col-auto">
              <img
                style="max-height: 10rem"
                src="publisher-files/{{course.publisher_id}}/courses/{{course.id}}/images/{{course.cover}}" alt="{{course.cover_alt}}"
              >
            </div>
            <div class="col">
              <div class="card-body">
                <div class="card-title lead">{{ course.title }}</div>
                <div class="card-subtitle">
                  <div>Joined: {{ course.user_progress.created_at | date:'longDate' }}</div>
                  <div class="text-dark">
                    <span [innerHtml]="course.short_desc | safehtml: 'html'"></span>
                    <span class="text-secondary">(ID #{{ course.id }})</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="progress" style="height: 6px">
            <div class="progress-bar progress-bar-striped"
              *ngIf="course.user_progress"
              role="progressbar"
              [style.width.%]="
                course.user_progress ?
                course.user_progress.total_activities_completed / course.total_activities * 100 : 0
              "
              [attr.aria-valuenow]="0"
              aria-valuemin="0"
              [attr.aria-valuemax]="100">
            </div>
          </div>
        </div>

        <!-- <div class="example-card">
          <img src="publisher-files/{{course.publisher.id}}/courses/{{course.id}}/images/{{course.cover}}">
          <div class="mat-card-content">
            <span class="text-dark" [innerHtml]="course.short_desc | safehtml: 'html'"></span>
          </div>
        </div> -->
        <!-- <app-catalogue-card [course]="userCourse"></app-catalogue-card> -->
      </div>

      <div *ngIf="userCourses.length === 0">
        <h1 class="common-heading mb-2 mt-5 text-success">You've not yet enrolled in any courses.</h1>
        <p class="text-dark">Start improving your skills by using a <span class="font-weight-bold">Course Access Code</span> below.<br>
        Visit the <a [routerLink]="['/catalogue']" class="text-nowrap">Webcourse Catalogue</a> to browse all publicly available courses.</p>
      </div>

    </div>

    <ng-template #loading>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>

  </div>
</div>



  <!-- <app-group-join-card></app-group-join-card> -->
