<div id="fullMainContent">
  <div class="container-fluid">
    <div
      class="row d-flex align-items-start my-4"
      *ngIf="this.user$ | async as user"
      @fadeInOut
    >
      <div class="col-12 col-lg-4">
        <!-- COL PLACE HOLDER -->
      </div>
      <div class="col-12 col-lg-4">
        <img
          ngxGravatar
          [src]="this.gravatarMd5.gravatarMD5src(user.email)"
          [size]="100"
          class="mr-4 img-fluid"
        />
        <div class="lead d-inline-block">
          <div *ngIf="user.first_name; else newUser">
            Welcome back, <span class="text-capitalize">{{ user.first_name }}</span>
          </div>
          <ng-template #newUser>
            <div>Welcome, {{ user.username }}</div>
          </ng-template>
        </div>
      </div>

      <div class="col-12 col-lg-4 text-right align-items-start">
        <!-- COL PLACE HOLDER -->
      </div>
    </div>

    <hr class="mb-3">

    <div
      class="row d-flex justify-content-center align-items-start"
      *ngIf="this.user.userCourses$ | async as userCourses; else loading"
      @fadeInOut
    >

      <div class="col-xs-12 col-lg-3 col-xl-4">

        <!-- AREA FOR DISPLAYING SELECTED COURSE -->

      </div>

      <div class="col-xs-12 col-lg-9 col-xl-8 align-top">
        <div class="container-fluid pl-0">
          <div class="row justify-content-between align-items-start">
            <div class="col-auto">
              <button mat-button color="primary" class="border mb-4" (click)="this.accessCodeModalService.accessCodeModal()">
                Unlock a course using an access code
              </button>
            </div>
            <div class="col-auto">
              <small class="text-dark text-uppercase">{{userCourses.length}} courses unlocked</small>
            </div>
          </div>
        </div>

        <div
          class="container p-0 mb-3 border rounded"
          *ngFor="let course of userCourses, let i = index, let l = last"
        >

          <div class="row no-gutters">
            <div class="col-sm-12 col-md-4">
              <div class="card">
                <img
                  class="card-img-top"
                  style="object-fit: cover; height: 11rem;"
                  src="publisher-files/{{course.publisher_id}}/courses/{{course.id}}/images/{{course.cover}}"
                  alt="{{course.cover_alt}}"
                >
              </div>
            </div>
            <div class="col-auto ml-4">
              <div class="lead mt-3">{{ course.title }} <small class="text-secondary"></small></div>
              <div class="text-dark">
                Joined: {{ course.user_progress.created_at | date:'longDate' }}
              </div>
              <button
                mat-button color="primary" class="border my-3"
                (click)="goToActivity(course.user_progress.id)"
              >
                Enter
              </button>
              <button
                mat-button color="primary" class="mt-3 ml-2"
                [routerLink]="['/catalogue', 'course', course.id]"
              >
                About
              </button>
            </div>
          </div>
          <div class="progress" style="height: 6px">
            <div class="progress-bar progress-bar-striped"
              *ngIf="course.user_progress"
              role="progressbar"
              [style.width.%]="
                course.user_progress ?
                course.user_progress.total_activities_completed / course.total_activities * 100 : 0
              "
              [attr.aria-valuenow]="0"
              aria-valuemin="0"
              [attr.aria-valuemax]="100">
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="userCourses.length === 0">
        <h1 class="common-heading mb-2 mt-5 text-success">You've not yet enrolled in any courses.</h1>
        <p class="text-dark">Start improving your skills by using a <span class="font-weight-bold">Course Access Code</span> below.<br>
        Visit the <a [routerLink]="['/catalogue']" class="text-nowrap">Webcourse Catalogue</a> to browse all publicly available courses.</p>
      </div>

    </div>

    <ng-template #loading>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>

  </div>
</div>



  <!-- <app-group-join-card></app-group-join-card> -->
