<img src="https://www.cultivatelearning.ca/webcourses/publisher-files/default/images/about_banner.jpg" class="img-fluid" @fadeInOut>
<div id="fullMainContent" class="container-fluid" @fadeInOut>
  <div class="row justify-content-center min-vh-100" class="bg-light">
    <div class="col">
      <div class="d-flex flex-column h-100">
        <div class="row justify-content-center">
          <div>
            <div class="container my-5">
              <div class="row">
                <div class="col-12 col-lg-6 p-3">
                  <p class="lead pb-3">Our Cultivate Learning Management System provides a secure
                  and user-friendly experience for learners and publishers.</p>

                  <p>With Cultivate Learning, your courses: </p>

                  <ul class="my-4">
                    <li>are HTML-based with no need for additional software</li>
                    <li>can be sold online with a direct link to your website</li>
                    <li>can be customized using your organization’s branding</li>
                    <li>are automated providing minimal effort to maintain</li>
                    <li>use up-to-date technology and are secure</li>
                  </ul>
                </div>

                <div class="col-12 col-lg-6 p-3">

                  <p class="lead pb-3">Cultivate Learning is a learning management platform that hosts self-paced online courses. The
                  courses and all data related to the publisher accounts are stored in a cloud environment.</p>

                  <p>We provide everything necessary to deliver and track courses accessible on all devices.</p>

                  <p>Cultivate Learning publishers are professionals in their field who are enthusiastic about sharing
                  their expertise. Their online courses are current, professional and practical.</p>

                </div>

              </div>

              <div class="text-center">
                <img
                  src="https://www.cultivatelearning.ca/webcourses/publisher-files/default/images/squarees.png"
                  class="img-fluid mb-5"
                  alt="Divider in the form of the Cultivate Learning logo icon"
                >
              </div>

              <div class="row mt-lg-4">
                <div class="col display-4 text-center">
                  <a [routerLink]="['/contact']">
                    Contact us to get started on your next online course project<br>
                    <button class="btn btn-lg btn-success mt-5">Contact</button>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row justify-content-center flex-grow-1" id="anastasia">
          <!-- It's this div that displays the "footer" image -->
          <!-- Image https://www.pexels.com/photo/gray-and-white-wallpaper-1103970/ -->
          <!-- Flex code: https://stackoverflow.com/questions/50262517/bootstrap-4-row-fill-remaining-height -->
        </div>
      </div>
    </div>
  </div>
</div>
