<div id="fullMainContent" class="container-fluid" @fadeInOut>
  <div class="row justify-content-center min-vh-100">
    <div class="col">
      <div class="d-flex flex-column h-100">
        <div class="row justify-content-center">
          <div>
            <div class="container my-5">
              <div class="row justify-content-center">
                <div class="col-xs-12 col-sm-12 col-lg-9 text-center">
                  <img
                    class="img-fluid w-50 mt-4"
                    src="https://www.cultivatelearning.ca/webcourses/publisher-files/default/images/cultivate_logo_sans_slogan_ca.png"
                  >
                  <div class="mb-2 display-4 text-dark">Demo</div>

                  <p class="lead">Get hands on experience of what learning can look like when you choose
                  Cultivate Learning to deliver your courses, tutorials and training modules.</p>

                  <button class="btn btn-lg btn-primary mb-5" (click)="demoButton()">Interactive demo</button>

                  <p class="text-dark">If upon registration automated access fails, you can use access code
                  <span class="font-weight-bold">{{this.configService.params.freeAccessCode}}</span> to unlock the course.</p>
                </div>
              </div>

              <div class="text-center mt-5">
                <img
                  src="https://www.cultivatelearning.ca/webcourses/publisher-files/default/images/squarees.png"
                  class="img-fluid mb-5"
                  alt="Divider in the form of the Cultivate Learning logo icon"
                >
              </div>

              <div class="row mt-lg-4">
                <div class="col display-4 text-center">
                  <a [routerLink]="['/contact']">
                    Contact us to get started on your next online course project<br>
                    <button class="btn btn-lg btn-success mt-5">Contact</button>
                  </a>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
