<!-- Displays an hotlinked array of chapter activity bars on progress, chapter index tabs -->

<div class="mb-4">
  <div
    *ngFor="let aid of chapter.activities, let activityNumber = index"
    class="default-activity-bar"
    [ngClass]="(activityNumber <= this.completionStatsService.completionStats.inChid[chapter.chid] - 1) ? 'unlocked' : 'locked'"
    [ngStyle]="{'max-width.%': this.maxWidthPercent / chapter.activities.length}"
    (click)="(activityNumber <= this.completionStatsService.completionStats.inChid[chapter.chid] - 1) ? this.workareaService.loadActivities(aid) : ''"
    >
  </div>
</div>
