<div id="fullMainContent" class="container" @fadeInOut>

  <div class="d-flex flex-row-reverse my-4" @fadeInOut>
    <button mat-button color="primary" class="border" (click)="addCourseBtn()">
      Add course
    </button>
    <div class="mr-4" style="line-height: 1.2rem;">
      <span class="text-success text-uppercase">New feature</span><br>
      <span class="font-weight-light text-dark">Build a new course</span>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-12">
      <app-header [title]="'course directory'"></app-header>
    </div>
  </div>

  <div *ngIf="publisherCourses$ | async as publisherCourses" @fadeInOut>
    <div
      *ngFor="let publisherCourse of publisherCourses; index as i"
      class="row no-gutters justify-content-between mb-2 border"
    >
      <div class="col-lg-2">
        <div class="card">
          <img
            class="card-img-top"
            style="object-fit: cover; height: 6rem;"
            src="publisher-files/{{publisherCourse.publisher_id}}/courses/{{publisherCourse.id}}/images/{{publisherCourse.cover}}" alt="{{publisherCourse.cover_alt}}"
          >
        </div>
      </div>
      <div class="col-auto pl-3 my-auto mr-auto">
        <div class="fs-4 my-2 my-lg-0">
          {{ publisherCourse.title }}
          <div class="fs-6 text-secondary my-auto">
            <span
              class="badge font-weight-light"
              [ngClass]="publisherCourse.published ? 'badge-info' : 'badge-light'"
              [innerHtml]="publisherCourse.published ? 'Published' : 'Not published'"
            >
            </span>
            <small>
              Created {{ publisherCourse.created_at | date:'longDate' }} #{{ publisherCourse.id }}
            </small>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-auto my-lg-auto my-2 my-lg-0">
        <div class="d-inline-block ml-auto my-auto px-3">
          <i class='fa-sharp fa-solid fa-user-group text-secondary mr-1 me-1'></i>
          {{ publisherCourse.total_students }}
        </div>
        <div class="d-inline-block my-auto px-3 text-primary handy" [routerLink]="['/admin', 'publisher', 'course', publisherCourse.id, 'access-codes']">
          <i class='fa-sharp fa-solid fa-fingerprint mr-1 me-1'></i>
          {{ publisherCourse.access_codes}}
        </div>
        <div class="d-inline-block my-auto px-3">
          <i class='fa-sharp fa-solid fa-diagram-project text-secondary mr-1 me-1'></i>
          {{ publisherCourse.total_activities }}
        </div>
        <div class="d-inline-block ml-auto align-middle px-3">
          <div type="button" class="text-danger d-inline d-lg-block mx-3 mx-lg-0">
            <small class="text-uppercase">
              <a [routerLink]="['/admin', 'publisher', 'builder', 'course', 'edit', publisherCourse.id]" class="text-primary">Edit</a>
            </small>
          </div>
          <div type="button" class="text-danger d-inline d-lg-block mx-3 mx-lg-0">
            <small class="text-uppercase text-danger" (click)="deleteCourseBtn(publisherCourse.id)">
              Delete
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
