<div id="fullMainContent" class="container" @fadeInOut>

  <div class="d-flex flex-row-reverse my-4" @fadeInOut>
    <button mat-button color="primary" class="border" (click)="addCourseBtn()">
      Add course
    </button>
  </div>

  <app-header [title]="'course directory'"></app-header>

  <div
    *ngIf="publisherCourses$ | async as publisherCourses"
    class="row mt-3"
    @fadeInOut
  >
    <div *ngFor="let publisherCourse of publisherCourses; index as i" class="col">
      <div class="card">
        <div class="row no-gutters justify-content-between">
          <div class="col-lg-2">
            <div class="card">
              <img
                class="card-img-top"
                style="object-fit: cover; height: 6rem;"
                src="publisher-files/{{publisherCourse.publisher_id}}/courses/{{publisherCourse.id}}/images/{{publisherCourse.cover}}" alt="{{publisherCourse.cover_alt}}"
              >
            </div>
          </div>
          <div class="col-auto pl-3 my-auto">
            <div class="fs-4">
              {{ publisherCourse.title }}
              <div class="fs-6 text-secondary">
                {{ publisherCourse.created_at | date:'longDate' }} #{{ publisherCourse.id }}
              </div>
            </div>
          </div>
          <div class="col-auto my-auto px-2">
            <i class='fa-sharp fa-solid fa-user-group text-secondary mr-1 me-1'></i>
            {{ publisherCourse.total_students }}
          </div>
          <div class="col-auto my-auto px-2 text-primary handy" [routerLink]="['/admin', 'publisher', 'course', publisherCourse.id, 'access-codes']">
            <i class='fa-sharp fa-solid fa-fingerprint mr-1 me-1'></i>
            {{ publisherCourse.access_codes}}
          </div>
          <div class="col-auto my-auto px-2">
            <i class='fa-sharp fa-solid fa-diagram-project text-secondary mr-1 me-1'></i>
            {{ publisherCourse.total_activities }}
          </div>
          <div class="col-auto my-auto pl-2 pr-md-3 pr-lg-5">
            <span
              class="badge font-weight-light"
              [ngClass]="publisherCourse.published ? 'badge-info' : 'badge-light'"
              [innerHtml]="publisherCourse.published ? 'Published' : 'Not published'"
            >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
