<!-- REVIEW MODE -->
<div *ngIf="activity.user_answers; else activeMode" @fadeInOut>
  <div class="row">
    <div class="col">
      <ul class="clickActivity">
        <li
          class="text-left px-3 clickFalse"
          *ngFor="let option of activity.answers; let i = index"
          [ngClass]="[markColours(option), checkIfCapsNeeded(i) ? 'text-capitalize' : '']"
          [innerHtml]="showLabel(option)"
        >
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-2 row">
    <div class="col">
      <span class="mr-2">Punctuation:</span>
      <div class="btn-group btn-group-toggle">

      <!-- <div class="btn-group btn-group-toggle" (click)="orderButtons($event)"> -->
        <!-- !!! NOTE: Name property is used in orderButtons function. -->
        <button
          class="btn btn-info btn-sm py-0 active"
          type="button"
          name="yours"
          aria-pressed="true"
          (click)="showMarking('user')"
        >Yours</button>
        <button
          class="btn btn-info btn-sm py-0"
          type="button"
          name="correct"
          (click)="showMarking('correct')"
        >Correct</button>
      </div>
    </div>
  </div>
</div>

<!-- ACTIVE MODE -->
<ng-template #activeMode>
  <div class="row">
    <div class="col">
      <ul class="clickActivity">
        <li
          *ngFor="let option of activity.answers; let i = index"
          [ngClass]="activity.answers[i].selected ? 'clickSelected' : 'clickFalse'"
          >
          <input
            type="checkbox"
            [ngClass]="['d-none']"
            [id]="option.answer_id"
            [value]="option.answer_id"
            formControlName="answer"
            (click)="updateSelections(i, option.answer_id)"
          >
          <label
            [innerHtml]="showLabel(option)"
            [for]="option.answer_id"
            [ngClass]="checkIfCapsNeeded(i) ? 'text-capitalize' : ''"
            class="handy text-left px-3"
          ></label>
        </li>
      </ul>
    </div>
  </div>
</ng-template>
