<div
  id="fullMainContent"
  class="container mb-5"
  @fadeInOut
  >
  <div class="row border border-secondary rounded-lg" style="background-color: lightslategray;">
    <div class="col text-center">
      <img src="assets/starfleet.png" class="my-3">
    </div>
  </div>
  <div class="row my-5">
    <div class="col">
      <div class="h3 text-uppercase pb-2">System overview</div>
      <div class="container-fluid">
        <div class="row my-1">
          <div class="col-2">N/A</div>
          <div class="col-10">Publishers</div>
        </div>
        <div class="row my-1">
          <div class="col-2">N/A</div>
          <div class="col-10">Courses</div>
        </div>
        <div class="row my-1">
          <div class="col-2">N/A</div>
          <div class="col-10">Activities</div>
        </div>
        <div class="row my-1">
          <div class="col-2">N/A</div>
          <div class="col-10">User completed activities</div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="d-block my-auto">
        <div class="h3 text-uppercase d-inline-block">
          Latest access-code uses
        </div>
        <button type="button" class="btn btn-link btn-sm float-right" (click)="refresh()">
          <fa-icon [icon]="faRepeat" class="text-primary mr-2"></fa-icon>Refresh
        </button>
      </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col">Label</th>
            <th scope="col" class="text-right">Uses</th>
          </tr>
        </thead>
        <tbody *ngIf="(recentCodeUses$ | async) as recentCodeUses; else LoadingSpinner" @fadeInOut>
          <tr *ngFor="let recentCodeUse of recentCodeUses">
            <td class="text-center align-middle">{{ recentCodeUse.cid }}</td>
            <td class="h6 font-weight-normal">
              {{ recentCodeUse.label }}<br>
              <span class="text-uppercase text-secondary font-weight-light small">{{ recentCodeUse.updated_at | date: 'E d MMM H:mm' }}</span>
            </td>
            <td class="text-right align-middle h6 font-weight-normal">
              {{ recentCodeUse.uses }} / {{ recentCodeUse.uses_max }}<br>
              <span class="text-uppercase text-secondary font-weight-light small">{{ recentCodeUse.uses / recentCodeUse.uses_max * 100 | number: '1.0-1'}}% USED</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="py-1">
        <span class="text-secondary text-uppercase float-right small">{{ this.lastRefresh | date: 'E H:mm:ss' }}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="d-block my-auto">
        <div class="h3 text-uppercase d-inline-block">
          Latest logins
          <button type="button" class="btn btn-link btn-sm ml-3" (click)="refreshLatestLogins()">
            <fa-icon [icon]="faRepeat" class="text-primary mr-2"></fa-icon>Refresh
          </button>
        </div>
      </div>
      <div class="alert alert-primary mb-1" role="alert">
        <div *ngIf="(recentLogins$ | async) as recentLogins; else LoadingSpinner" @fadeInOut>
          <div *ngFor="let recentLogin of recentLogins" class="d-inline-block">
            <span class="h6 font-weight-normal">
              <a href="mailto:{{recentLogin.email}}" target="_blank">{{recentLogin.email}}</a>
            </span>
            <span> ({{ recentLogin.login_count }})</span>
            <span class="text-secondary text-uppercase small"> {{ recentLogin.updated_at | date: 'E d MMM H:mm' }}</span>
            <span class="px-2 font-weight-bold">-</span>
          </div>
        </div>
        <ng-template #LoadingSpinner>
          <div class="text-center d-block">
            <app-loading-spinner></app-loading-spinner>
          </div>
        </ng-template>
      </div>
      <span class="text-secondary text-uppercase small">{{ this.lastLatestLoginsRefresh | date: 'E H:mm:ss' }}</span>
    </div>
  </div>
</div>
