<div
  id="fullMainContent"
  class="container mb-5"
  @fadeInOut
  >
  <div class="row border border-secondary rounded-lg" style="background-color: lightslategray;">
    <div class="col text-center">
      <img src="assets/starfleet.png" class="my-3">
    </div>
  </div>
  <div class="row my-3">
    <div class="col">0 publishers</div>
    <div class="col">0 courses</div>
    <div class="col">0 activities</div>
    <div class="col">0 user completed activities</div>
  </div>
  <div class="row my-5">
    <div class="col col-lg-6">
      <div class="h3 text-uppercase">Latest logins
        <button type="button" class="btn btn-link btn-sm ml-3" (click)="refreshLatestLogins()">
          <fa-icon [icon]="faRepeat" class="text-primary mr-2"></fa-icon>Refresh
        </button>
      </div>

      <div
        class="container-fluid"
        *ngIf="(recentLogins$ | async) as recentLogins; else LoadingSpinner"
        @fadeInOut
      >
        <div *ngFor="let recentLogin of recentLogins" class="font-weight-normal row my-2">
          <div class="col px-0">
            <img
              ngxGravatar
              [src]="this.gravatarMd5Service.gravatarMD5src(recentLogin.email)"
              [size]="50"
              class="mr-4 pull-left"
            />
            <div class="d-block">{{ recentLogin.email}} ({{ recentLogin.login_count }})</div>
            <div class="d-block">
              <span class="fi fi-{{recentLogin.country | lowercase}} rounded border mr-2" style="line-height: .9rem;"></span>
              <span class="text-secondary text-uppercase small">{{ recentLogin.updated_at | date: 'E d MMM H:mm' }}</span>
            </div>
          </div>
        </div>
      </div>

      <ng-template #LoadingSpinner>
        <div class="text-center d-block">
          <app-loading-spinner></app-loading-spinner>
        </div>
      </ng-template>
    </div>

    <div class="col col-lg-6">
      <div class="d-block my-auto">
        <div class="h3 text-uppercase d-inline-block">
          Latest access-code uses
        </div>
        <button type="button" class="btn btn-link btn-sm float-right" (click)="refresh()">
          <fa-icon [icon]="faRepeat" class="text-primary mr-2"></fa-icon>Refresh
        </button>
      </div>
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col" class="text-center">ID</th>
            <th scope="col">Label</th>
            <th scope="col" class="text-right">Uses</th>
          </tr>
        </thead>
        <tbody *ngIf="(recentCodeUses$ | async) as recentCodeUses; else LoadingSpinner" @fadeInOut>
          <tr *ngFor="let recentCodeUse of recentCodeUses">
            <td class="text-center align-middle">{{ recentCodeUse.cid }}</td>
            <td class="h6 font-weight-normal">
              {{ recentCodeUse.label }}<br>
              <span class="text-uppercase text-secondary font-weight-light small">{{ recentCodeUse.updated_at | date: 'E d MMM H:mm' }}</span>
            </td>
            <td class="text-right align-middle h6 font-weight-normal">
              {{ recentCodeUse.uses }} / {{ recentCodeUse.uses_max }}<br>
              <span class="text-uppercase text-secondary font-weight-light small">{{ recentCodeUse.uses / recentCodeUse.uses_max * 100 | number: '1.0-1'}}% USED</span>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="py-1">
        <span class="text-secondary text-uppercase float-right small">{{ this.lastRefresh | date: 'E H:mm:ss' }}</span>
      </div>
    </div>
  </div>

  <div *ngIf="publisherInterest$ | async as users">
    <div class="row">
      <div class="col">
        <div class="h3 text-uppercase d-inline-block mt-4 mb-2">
          Users interested in the web course builder
        </div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Email</th>
              <th scope="col">Country</th>
              <th scope="col">Member since</th>
              <th scope="col">Level of interest*</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{ user.user.id }}</td>
              <td>{{ user.user.email }}</td>
              <td>
                <span class="fi fi-{{user.user.country | lowercase}} rounded border mr-2" style="line-height: .9rem;"></span>
              </td>
              <td>{{ user.user.created_at | date: 'medium' }}</td>
              <td>{{ user.user.user_roles | json }}</td>
            </tr>
          </tbody>
        </table>

        <div class="h3 text-uppercase d-inline-block mt-4 mb-2">
          * Level of interest
        </div>
        <table class="table table-striped">
          <thead>
            <th scope="col">ID</th>
            <th scope="col">Definition</th>
          </thead>
          <tbody>
            <tr>
              <td>2</td>
              <td>Existing publisher</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Interested</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Requested access</td>
            </tr>
            <tr>
              <td>6</td>
              <td>Subscribed to builder news</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
