<div id="publisher-info-tab">

  <div *ngIf="this.selectedCourseService.selectedCourse as sc; else loading" @fadeInOut>

    <div class="primary-text h5" [innerHtml]="sc.publisher.name"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-auto pl-0">
          <i class="fa-sharp fa-solid fa-envelope pl-0"></i>
        </div>
        <div class="col">
          {{ firstLastName(sc.publisher) }}<br>
          <a target="_blank"
            [href]="'mailto:' + sc.publisher.contact_email"
            *ngIf="sc.publisher.contact_email"
            >
            {{ sc.publisher.contact_email }}
          </a>
        </div>
      </div>

      <div class="row py-2" *ngIf="sc.publisher.website">
        <div class="col-auto pl-0">
          <i class="fa-sharp fa-solid fa-globe"></i>
        </div>
        <div class="col">
          Website<br>
          <a target="_blank" [href]="sc.publisher.website">
            {{ sc.publisher.website.replace('https://', '')}}
          </a>
        </div>
      </div>
    </div>

  </div>

  <ng-template #loading>
    <app-loading-spinner></app-loading-spinner>
  </ng-template>

</div>

