<form #discount="ngForm"
  *ngIf="!this.couponFieldService.coupon?.status; else showStatus"
  @fadeInOut
  >
  <div class="form-group">
    <div class="d-flex justify-content-between">
      <div>
        <input ngModel required minlength="8" name="code" class="form-control" placeholder="Enter code">
      </div>
      <div>
        <button
          (click)="submitCouponButton(discount.value.code)"
          *ngIf="!this.couponFieldService.verifyingCoupon; else verifyingCouponBtn"
          [disabled]="discount.status === 'INVALID'"
          class="btn btn-success"
          >
          Submit
        </button>
        <ng-template #verifyingCouponBtn>
          <button class="btn btn-secondary" disabled>
            <fa-icon [icon]="faSpinner" [spin]="true" [pulse]="true" class="mx-3"></fa-icon>
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</form>

<ng-template #showStatus>
  <ngb-alert
    [type]="this.couponFieldService.coupon.status.cssClass"
    (close)="this.couponFieldService.coupon = null"
    class="text-left"
    @fadeInOut
    >
    <small [innerHtml]="this.couponFieldService.coupon.status.message"></small>
  </ngb-alert>
</ng-template>
