#header-menu {
  background-image: url("bg.png");
  /* background-color: #f3f3f3 !important; */
  background-repeat: repeat;
  border-bottom: 1px #eee solid;
}

/*lava menu background for active item*/
#header-menu .active {
  background-color: #fba604!important;
}

a {
	color: #042779!important;
}

#activity-menu-outlet {
  box-shadow: 0 3px 3px #cdcdcd;
  border-top: 1px #ddd solid;
  background-color: #f8f9fa !important;
}

#activity-menu {
  box-shadow: 0 3px 3px #cdcdcd!important;
  /* background-color: #fbfbfb!important; */
}

.bg-light {
  background-color: #fff !important;
}

.primary-text {
  color: #486097!important;
}

/* pim */
.unlocked {
  background-color: #f7a439!important;
}

#activity-menu-outlet a {
  color: #f7a439;
}

.default-activity-bar {
  border-right: 2px solid #fff!important;
}

.h1, .h2, .h3, .h4 {
  color: #265496;
}

#activities-global {
  background-image: ();
}

/*
  Custom column width used in aid:4764, but might be usable in others:
  for now not restricting it to .activity4764; considering moving styles to global CSS
*/

@media (min-width: 576px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 1;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 1600px) {
  .card-columns {
    column-count: 3;
  }
}

/* END of aid:4764 styles */
