<!-- Displays an hotlinked array of chapter activity bars on progress, chapter index tabs -->

<div class="mb-4">
  <div
    *ngFor="let activity of chapter.syllabus, let activityNumber = index"
    class="default-activity-bar"
    [ngClass]="(activityNumber <= this.completionStatsService.completionStats.inChid[chapter.id] - 1) ? 'unlocked' : 'locked'"
    [ngStyle]="{'max-width.%': this.maxWidthPercent / chapter.syllabus.length}"
    (click)="(activityNumber <= this.completionStatsService.completionStats.inChid[chapter.id] - 1) ? this.workareaService.loadActivities(activity.id) : ''"
    >
  </div>
</div>
