<div id="publisher-info-tab" class="px-4" *ngIf="publisherInfo; else loading" @fadeInOut>

  <div class="container-fluid my-3">

    <!-- Publisher Name -->
    <div class="row">
      <div class="col mt-3 h5 primary-text" [innerHtml]="publisherInfo.name"></div>
    </div>

    <!-- Contact and email address -->
    <div class="row py-2">
      <div class="col-1 mx-auto"><fa-icon [icon]="faEnvelope" class="primary-text"></fa-icon></div>
      <div class="col">
        <div class="primary-text">{{ publisherInfo.contact_fname }} {{ publisherInfo.contact_lname }}</div>
        <a target="_blank" [href]="'mailto:' + publisherInfo.contact_email" *ngIf="publisherInfo.contact_email">
          {{ publisherInfo.contact_email }}
        </a>
      </div>
    </div>

    <!-- Hotlinked website address -->
    <div class="row py-2" *ngIf="publisherInfo.website">
      <div class="col-1 mx-auto"><fa-icon [icon]="faGlobe" class="primary-text"></fa-icon></div>
      <div class="col">
        <div class="primary-text">Website</div>
        <a target="_blank" [href]="publisherInfo.website">
          {{ publisherInfo.website.replace('https://', '')}}
        </a>
      </div>
    </div>
  </div>

</div>

<ng-template #loading>
  <div class="mt-5">
    <app-loading-spinner></app-loading-spinner>
  </div>
</ng-template>
